{% load category_job_filter %}
<div class="modal-header">
    <h6 class="modal-title  font-weight-bold">{{ job }}</h6>
    <button type="button" class="close close--icon" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">

    <p class="modal-text">No. of vacancy: {{ job.no_of_vacancy }}</p>
    <p class="modal-text">Offered Salary: {{ job.offered_salary }}</p>
    <p class="modal-text">Education Level: {{ job.education_level }}</p>
    <p class="modal-text">Deadline: {{ job.deadline|date:"M d, Y" }}</p>
    <p class="modal-text">{{ job.description }}</p>
    {% if job.description_points %}
        <h6 class="modal-subtitle">Job Descriptions</h6>
        {% for description in job.description_points|job_description_spliter %}
            <div class="d-flex align-items-baseline">
                <div class="roundedDot d-block mr-2"></div>
                <p class="modal-text">{{ description }}</p>
            </div>
        {% endfor %}
    {% endif %}

    <h6 class="modal-subtitle">Skills & Responsibilities</h6>
    {% for skill in job.skills|job_description_spliter %}
        <div class="d-flex align-items-baseline">
            <div class="roundedDot d-block mr-2"></div>
            <p class="modal-text">{{ skill }}</p>
        </div>
    {% endfor %}

    <h6 class="modal-subtitle">Other Specifications</h6>
    {% for skill in job.other_specification|job_description_spliter %}
        <div class="d-flex align-items-baseline">
            <div class="roundedDot d-block mr-2"></div>
            <p class="modal-text">{{ skill }}</p>
        </div>
    {% endfor %}
    <div class="text-right">
        <a data-remote="{% url 'job-apply' job.id %}"
           data-toggle="modal"
           data-target="#modalPythonApply"
           href="{% url 'job-apply' job.id %}"
           class="btns--careers" id="{{ job.id }}">Apply</a>
    </div>

</div>

