{% load widget_tweaks %}
<div class="modal-header">
    <div>
        <h6 class="modal-subtitle mb-2">Applying for</h6>
        <h5 class="modal-title">{{ job_name }}</h5>
    </div>

    <button type="button" class="close close--icon" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div id="success_message"></div>
    <form method="post" action="" id="applyForm" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        {#        {% render_field form.job class="form-control" id="job" name="job" %}#}
        <input type="hidden" name="job" value="{{ job_id }}">
        <div id="form_invalid_errors"></div>
        <div class="form-group">
            <div id="error_full_name"></div>
            <label for="name">Your Full Name</label>
            {% render_field form.full_name class="form-control" id="name" name="full_name" required="false" %}
            {#            <input type="text" class="form-control" id="name" name="full_name">#}
        </div>
        <div class="form-group">
            <div id="error_email_address"></div>
            <label for="email">Your Email address</label>
            {% render_field form.email_address class="form-control" id="email" name="email" %}
            {#            <input type="email" class="form-control" id="email" name="email">#}
        </div>
        <div class="form-group">
            <div id="error_contact_number"></div>
            <label for="contactNumber">Your Contact Number</label>
            {% render_field form.contact_number class="form-control" id="contactNumber" name="contact_number" %}
            {#            <input type="text" class="form-control" id="contactNumber" name="contact_no">#}
        </div>

        <div id="error_cover_letter"></div>
        <label for="customCoverLetter">Upload Your Cover Letter <small>(Please upload the file with size less than 500KB)</small></label>
        <div class="custom-file form-group mb--1">
            {% render_field form.cover_letter class="form-file-input" id="customCoverLetter" name="cover_letter" %}
            {#            <input type="file" class="custom-file-input" id="customFile" name="cv">#}
            <label class="custom-file-label" for="customCoverLetter">Choose file</label>
        </div>

        <div id="error_cv"></div>
        <label for="customCV">Upload Your CV <small>(Please upload the file with size less than 500KB)</small></label>
        <div class="custom-file form-group">
            {% render_field form.cv class="form-file-input" id="customCV" name="cv" %}
            {#            <input type="file" class="custom-file-input" id="customFile" name="cv">#}
            <label class="custom-file-label" for="customCV">Choose file</label>
        </div>

        <div class="g-recaptcha form-group mt-3"
             data-sitekey="6Ld3pb4UAAAAAIxGP_kCIVIvvL1A99rlMs8DSX5s"></div>
        <div class="text-right">
            <input class="btns--careers my_career" value="Apply" type="submit">
        </div>
    </form>
</div>


<script>
    // csrf token
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });


    $('#customFile').change(handleFileSelect);

    var data = {};

    function createReaderHandler(name) {
        return function (ev) {
            data[name] = ev.target.result;
        };
    }

    function handleFileSelect(ev) {
        var files = ev.target.files; // FileList object

        // Loop through the FileList
        for (var i = 0; i < files.length; i++) {
            var file = files[i],
                name = file.name || file.fileName,
                reader = new FileReader();

            reader.onload = createReaderHandler(name);
            reader.readAsText(file);
        }
    }

    //console.log(data)

    $('#applyForm').submit(function (event) {
        event.preventDefault();
        var form_data = new FormData($('#applyForm')[0]);

        //form_data.append('file', $('#customCoverLetter')[0].files[0]);
        //form_data.append('file', $('#customCV')[0].files[0]);
        //console.log(form_data);
        $.ajax({
            method: "POST",
            url: "{% url 'job-apply' job_id %}",
            data: form_data,
            cache: false,
            processData: false,
            contentType: false,
            success: function (data) {
                //console.log(data)
                if (data['success'] == 'true') {
                    $("#success_message").append(
                        `
                            <div class="alert alert-success" role="alert" id="mero_alert" >
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              ${data['message']}
                            </div>
                        `
                    );
                    //$('#applyForm').trigger("reset");
                    $('#applyForm').hide();
                    window.setTimeout(function () {
                        $(".error_alerts").add('#mero_alert').fadeTo(500, 0).slideUp(500, function () {
                            $(this).remove();
                            $('#modalPythonApply').modal('hide');
                        });
                    }, 500);
                }

                else{
                    //console.log(data);
                    d = data['errors'];
                    for (var key in d) {
                        //console.log(key, d[key]);
                        if(key == '__all__'){
                            $('#form_invalid_errors').append(
                                `
                                <div class="alert alert-danger error_alerts">
                                  ${d[key]}
                                </div>
                            `
                            );
                        }
                        else{
                            $('#error_' + key).append(
                                `
                                <div class="alert alert-danger error_alerts">
                                  ${d[key]}
                                </div>
                            `
                            );
                        }
                    }
                }

                {% comment %}else {
                    console.log(data['errors'],'hello');
                    var d = data['errors']
                    //console.log(d);

                    for (var key in d) {
                        //console.log(key, d[key]);
                        $('#form_invalid_errors').append(
                            `
                            <div class="alert alert-danger error_alerts">
                              ${d[key]}
                            </div>
                        `
                        );
                    }
                }{% endcomment %}
                window.setTimeout(function () {
                    $(".error_alerts").add('#mero_alert').fadeTo(2000, 0).slideUp(500, function () {
                        $(this).remove();
                        //$('#modalPythonApply').modal('hide');
                    });
                }, 500);


            }, //end success
        }); //end ajax
    });
</script>