{% for a in apprenticeships %}
    <div class="apprentice--item">
        <div class="row align-items-center">
            <div class="col-lg-4 col-sm-4 col-12">
                <div class="position">
                    <h6>{{ a.title }}</h6>
                    <p>{{ a.no_of_vacancy }} - position{{ a.no_of_vacancy|pluralize }}</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4 col-12 test">
                <h6 class="category">{{ a.category }}</h6>
            </div>
            <div class="col-lg-4 col-sm-4 col-12 button-flex">
                <a data-remote="{% url 'apprenticeship-detail' a.id %}"
                data-toggle="modal"
                data-target="#modalPython"
                href="{% url 'apprenticeship-detail' a.id %}"
                class="btns--careers">Details</a>
            </div>
        </div>
    </div>
{% endfor %}