{% load static %}

{{ total_vacancy }}
{% for c in categories %}
    <div class="col-lg-3 col-md-4 col-sm-6 col-sm-3 col-12">
        <a href="{% url 'careers-detail' c.id %}#nav-jobopenings" class="card--careers">
            <img src="{{ c.image.url }}" alt="{{ c.name }}" class="career-image">
            <h6 class="text--careers__title">
                {{ c.name }}
            </h6>
            <p class="text--careers__position">
                {% firstof c.sum_jobs "0" %} Position{{ c.sum_jobs|pluralize }}
            </p>
        </a>
    </div>
{% endfor %}

