body{
	font-family: 'Open Sans', sans-serif;
}

.dabali_terms_cond{
	margin: 50px 0;
}

h2.title{
	color: #017dc7;
}

p.dabali_description{
	font-size: 0.9em;
}

strong{
	color: #017dc7;
}

p, li { line-height:24px !important;}

footer.dabali_footer{
	font-size: 0.8em;
	margin-bottom: 10px;
}