{% extends 'base.html' %}
{% load cms_tags menu_tags sekizai_tags staticfiles %}

{% load static %}

{% block content %}

    <header class="header--about">


        <!-- <div class="header--image"></div> -->

        <img src="{% static 'img/about-header-image.jpg' %}" class="header--image" alt="About Us">
        <div class="header--imageOverlay"></div>

        {% include 'info/partials/menu.html' %}

        <div class="header--middle my-auto text-white container ">
            <div class="text--contact text-white mt-5">

                <h6 id="aboutus">About us</h6>
                <h4 class="my-4" id="about-head">Quality service with innovative technology</h4>
                <p id="about-info">At InfoDevelopers, we continuously work to ensure that our services are maintained at
                    the highest
                    possible level of reliability and satisfaction.</p>

            </div>
        </div>

    </header>




    <main>


        <section class="section-breadcrumb">
            <div class="container">
                <ul class="breadcrumb--list">
                    <li class="breadcrumb--item active">
                        <a href="{% url 'home' %}" class="breadcrumb--link">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'about_us' %}" class="breadcrumb--link">About Us</a>
                    </li>
                </ul>
            </div>
        </section>


        <section class="section__contents pt-4">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12" id="ourstory">
                        <h4 class="heading--primary mb-3">Our Story</h4>
                        <h6 class="text--primary">Info developers started as a collaboration of like-minded people who
                            dreamt of providing
                            undebated, unaltered and excellence in banking and financial automation system analysis,
                            development and implementation and support activities</h6>
                    </div>


                </div>

            </div>
        </section>

        <!-- Our Mission & Visions -->
        <section class="section__contents my-5">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12" id="missionvision">
                        <h4 class="heading--primary mb-3">Our Mission & Vision</h4>
                        <h6 class="text--primary">Every about us page exists to let users know about the company and
                            what
                            they do.</h6>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12">
                        <div class="row my-5">
                            <div class="col-xl-6 col-lg-6 col-md-6 " id="missionblock">
                                <h2 class="mt-0 mb-3 heading--primary">Our Mission</h2>
                                <p class="mb-0 text--primary"> To solve complex problems utilizing the prevailing and
                                    leading technologies to
                                    empower people, businesses, and machines. </p>

                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 " id="visionblock">

                                <h2 class="mt-0 mb-3 heading--primary">Our Vision</h2>
                                <p class="mb-0 text--primary"> We have a vision to create powerful software with
                                    imagination and leading
                                    technologies, for people and machines to work together</p>


                            </div>

                        </div>
                    </div>

                </div>

                <div class="row" id="aboutvalue">
                    <div class="col text-center">
                        <h4 class="heading--primary  my-4" id="ourvalues">Our Values</h4>
                        <div
                                class="values--list  d-flex  flex-column align-items-center flex-md-row justify-content-center">

                            <div class="values--shape values--shape__2">
                                <div class="values--text">
                                    Client First
                                </div>
                            </div>
                            <div class="values--shape values--shape__3">
                                <div class="values--text">
                                    Integrity
                                </div>
                            </div>
                            <div class="values--shape values--shape__4">
                                <div class="values--text">
                                    Teamwork
                                </div>
                            </div>
                            <div class="values--shape values--shape__5">
                                <div class="values--text">
                                    Growth
                                </div>
                            </div>
                            <div class="values--shape values--shape__6">
                                <div class="values--text">
                                    Diversity
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>


        <!-- Powering Different Business -->
        <section class="section__business">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <h4 class="heading--primary text-white">Powering Different Businesses</h4>
                        <h2 class="text--primary text-white mt-3">Our clients, like our people are our most treasured
                            assets uis maximus ligula non blandit vulpuconsequaeugiat toortor.</h2>
                    </div>

                    <div class="container">

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="section__business--dots">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="84.618" height="116.349"
                                         viewBox="0 0 84.618 116.349">
                                        <g id="Group_1306" data-name="Group 1306"
                                           transform="translate(-2724 1237.544) rotate(-90)">
                                            <circle id="Ellipse_61" data-name="Ellipse 61" cx="10.577" cy="10.577"
                                                    r="10.577" transform="translate(1121.195 2724)" fill="#fff"/>
                                            <circle id="Ellipse_64" data-name="Ellipse 64" cx="10.577" cy="10.577"
                                                    r="10.577" transform="translate(1121.195 2755.731)" fill="#fff"/>
                                            <circle id="Ellipse_69" data-name="Ellipse 69" cx="10.577" cy="10.577"
                                                    r="10.577" transform="translate(1121.195 2787.463)" fill="#fff"/>
                                            <circle id="Ellipse_62" data-name="Ellipse 62" cx="10.577" cy="10.577"
                                                    r="10.577" transform="translate(1152.926 2724)" fill="#fff"/>
                                            <circle id="Ellipse_73" data-name="Ellipse 73" cx="10.577" cy="10.577"
                                                    r="10.577" transform="translate(1184.658 2724)" fill="#fff"/>
                                            <circle id="Ellipse_76" data-name="Ellipse 76" cx="10.577" cy="10.577"
                                                    r="10.577" transform="translate(1216.39 2724)" fill="#fff"/>
                                            <circle id="Ellipse_63" data-name="Ellipse 63" cx="10.577" cy="10.577"
                                                    r="10.577" transform="translate(1152.926 2755.731)" fill="#fff"/>
                                            <circle id="Ellipse_74" data-name="Ellipse 74" cx="10.577" cy="10.577"
                                                    r="10.577" transform="translate(1184.658 2755.731)" fill="#fff"/>
                                            <circle id="Ellipse_77" data-name="Ellipse 77" cx="10.577" cy="10.577"
                                                    r="10.577" transform="translate(1216.39 2755.731)" fill="#fff"/>
                                            <circle id="Ellipse_68" data-name="Ellipse 68" cx="10.577" cy="10.577"
                                                    r="10.577" transform="translate(1152.926 2787.463)" fill="#fff"/>
                                            <circle id="Ellipse_75" data-name="Ellipse 75" cx="10.577" cy="10.577"
                                                    r="10.577" transform="translate(1184.658 2787.463)" fill="#fff"/>
                                            <circle id="Ellipse_78" data-name="Ellipse 78" cx="10.577" cy="10.577"
                                                    r="10.577" transform="translate(1216.39 2787.463)" fill="#fff"/>
                                        </g>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         style="position: absolute; top:10px; right: -65px;" width="211.544"
                                         height="84.617"
                                         viewBox="0 0 211.544 84.617">
                                        <g id="Group_1305" data-name="Group 1305" transform="translate(-1026 -2724)">
                                            <circle id="Ellipse_58" data-name="Ellipse 58" cx="10.577" cy="10.577"
                                                    r="10.577" transform="translate(1026 2724)" fill="#fff"/>
                                            <circle id="Ellipse_67" data-name="Ellipse 67" cx="10.577" cy="10.577"
                                                    r="10.577" transform="translate(1026 2755.731)" fill="#fff"/>
                                            <circle id="Ellipse_72" data-name="Ellipse 72" cx="10.577" cy="10.577"
                                                    r="10.577" transform="translate(1026 2787.463)" fill="#fff"/>
                                            <circle id="Ellipse_59" data-name="Ellipse 59" cx="10.577" cy="10.577"
                                                    r="10.577" transform="translate(1057.732 2724)" fill="#fff"/>
                                            <circle id="Ellipse_66" data-name="Ellipse 66" cx="10.577" cy="10.577"
                                                    r="10.577" transform="translate(1057.732 2755.731)" fill="#fff"/>
                                            <circle id="Ellipse_71" data-name="Ellipse 71" cx="10.577" cy="10.577"
                                                    r="10.577" transform="translate(1057.732 2787.463)" fill="#fff"/>
                                            <circle id="Ellipse_60" data-name="Ellipse 60" cx="10.577" cy="10.577"
                                                    r="10.577" transform="translate(1089.463 2724)" fill="#fff"/>
                                            <circle id="Ellipse_65" data-name="Ellipse 65" cx="10.577" cy="10.577"
                                                    r="10.577" transform="translate(1089.463 2755.731)" fill="#fff"/>
                                            <circle id="Ellipse_70" data-name="Ellipse 70" cx="10.577" cy="10.577"
                                                    r="10.577" transform="translate(1089.463 2787.463)" fill="#fff"/>
                                            <circle id="Ellipse_61" data-name="Ellipse 61" cx="10.577" cy="10.577"
                                                    r="10.577" transform="translate(1121.195 2724)" fill="#fff"/>
                                            <circle id="Ellipse_64" data-name="Ellipse 64" cx="10.577" cy="10.577"
                                                    r="10.577" transform="translate(1121.195 2755.731)" fill="#fff"/>
                                            <circle id="Ellipse_69" data-name="Ellipse 69" cx="10.577" cy="10.577"
                                                    r="10.577" transform="translate(1121.195 2787.463)" fill="#fff"/>
                                            <circle id="Ellipse_62" data-name="Ellipse 62" cx="10.577" cy="10.577"
                                                    r="10.577" transform="translate(1152.926 2724)" fill="#fff"/>
                                            <circle id="Ellipse_73" data-name="Ellipse 73" cx="10.577" cy="10.577"
                                                    r="10.577" transform="translate(1184.658 2724)" fill="#fff"/>
                                            <circle id="Ellipse_76" data-name="Ellipse 76" cx="10.577" cy="10.577"
                                                    r="10.577" transform="translate(1216.39 2724)" fill="#fff"/>
                                            <circle id="Ellipse_63" data-name="Ellipse 63" cx="10.577" cy="10.577"
                                                    r="10.577" transform="translate(1152.926 2755.731)" fill="#fff"/>
                                            <circle id="Ellipse_74" data-name="Ellipse 74" cx="10.577" cy="10.577"
                                                    r="10.577" transform="translate(1184.658 2755.731)" fill="#fff"/>
                                            <circle id="Ellipse_77" data-name="Ellipse 77" cx="10.577" cy="10.577"
                                                    r="10.577" transform="translate(1216.39 2755.731)" fill="#fff"/>
                                            <circle id="Ellipse_68" data-name="Ellipse 68" cx="10.577" cy="10.577"
                                                    r="10.577" transform="translate(1152.926 2787.463)" fill="#fff"/>
                                            <circle id="Ellipse_75" data-name="Ellipse 75" cx="10.577" cy="10.577"
                                                    r="10.577" transform="translate(1184.658 2787.463)" fill="#fff"/>
                                            <circle id="Ellipse_78" data-name="Ellipse 78" cx="10.577" cy="10.577"
                                                    r="10.577" transform="translate(1216.39 2787.463)" fill="#fff"/>
                                        </g>
                                    </svg>
                                </div>
                                <div class="wrapper">
                                    <div class="multiple-items">
                                        <div class="product--slick">
                                            <div class="product--item text-center">
                                                <div class="product--item__inner">
                                                    <img src="{% static 'img/info-products/finsys.png' %}"
                                                         height="23px"
                                                         alt="" class="d-block mx-auto">
                                                    <p class="product--text">
                                                        FINSYS is a unique and proven automation solution for
                                                        financialinstitutions, whose design is unmatched...
                                                    </p>
                                                    <a href="">Read More</a>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="product--item">
                                            <div class="product--item__inner text-center">
                                                <img src="{% static 'img/info-products/infinity.png' %}"
                                                     height="23px" alt=""
                                                     class="d-block mx-auto">
                                                <p class="product--text">
                                                    The business philosophy of the company is to lay emphasis on Human
                                                    Values and Personal Relations..
                                                </p>
                                                <a href="">Read More</a>
                                            </div>
                                        </div>
                                        <div class="product--item">
                                            <div class="product--item__inner text-center">
                                                <img src="{% static 'img/info-products/empower.png' %}"
                                                     height="23px" alt=""
                                                     class="d-block mx-auto">
                                                <p class="product--text">
                                                    EMPOWER is the most complete & efficient microfinance banking
                                                    automation software to cater all..
                                                </p>
                                                <a href="">Read More</a>
                                            </div>
                                        </div>
                                        <div class="product--item">
                                            <div class="product--item__inner text-center">
                                                <img src="{% static 'img/info-products/ioffice.png' %}"
                                                     height="23px" alt=""
                                                     class="d-block mx-auto">
                                                <p class="product--text">
                                                    The business philosophy of the company is to lay emphasis on Human
                                                    Values and Personal Relations..
                                                </p>
                                                <a href="">Read More</a>
                                            </div>
                                        </div>
                                        <div class="product--item">
                                            <div class="product--item__inner text-center">
                                                <img src="{% static 'img/info-products/wealth.png' %}"
                                                     height="23px" alt=""
                                                     class="d-block mx-auto">
                                                <p class="product--text">
                                                    WEALTH is a generic & highly parameterized software solution which
                                                    is a "must have" tool for..
                                                </p>
                                                <a href="">Read More</a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            </div>

        </section>


        <!-- client block -->
        <section class="section-client bg-white">
            <div class="container">
                <div id="ourclient">
                    <div class="heading--primary mb-2">Our Clients</div>
                    <p class="text--primary mb-0">Genuine associations deliver transformational results</p>
                </div>


                <div class="row">

                    <div class="col-xl-3 col-lg-3 col-md-4">
                        <div class="client--img">
                            <a href="">
                                <img src="{% static 'img/company-logos/Ministry-of-finance.png' %}"
                                     alt="Ministry of Finance">
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4">
                        <div class="client--img">
                            <a href="">
                                <img src="{% static 'img/company-logos/DOIT.png' %}"
                                     alt="Ministry of Finance">
                            </a>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-3 col-md-4">
                        <div class="client--img">
                            <a href="">
                                <img src="{% static 'img/company-logos/Financial-Comptroller-General-Office.png' %}"
                                     alt="Ministry of Finance">
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4">
                        <div class="client--img">
                            <a href="">
                                <img src="{% static 'img/company-logos/National-Microfinance.png' %}"
                                     alt="Ministry of Finance">
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4">
                        <div class="client--img">
                            <a href="">
                                <img src="{% static 'img/company-logos/sanima-capital-logo.png' %}"
                                     alt="Ministry of Finance">
                            </a>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-3 col-md-4">
                        <div class="client--img">
                            <a href="">
                                <img src="{% static 'img/company-logos/Save-the-Children.png' %}"
                                     alt="Ministry of Finance">
                            </a>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-3 col-md-4">
                        <div class="client--img">
                            <a href="">
                                <img src="{% static 'img/company-logos/Swabalamban.png' %}"
                                     alt="Ministry of Finance">
                            </a>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-3 col-md-4">
                        <div class="client--img">
                            <a href="">
                                <img src="{% static 'img/company-logos/TEPC.png' %}"
                                     alt="Ministry of Finance">
                            </a>
                        </div>
                    </div>


                    <div class="row collapse" id="clientcollapse">
                        <div class="col-xl-3 col-lg-3 col-md-4">
                            <div class="client--img">
                                <a href="">
                                    <img src="{% static 'img/company-logos/National-Tuberculosis-Center.png' %}"
                                         alt="Ministry of Finance">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4">
                            <div class="client--img">
                                <a href="">
                                    <img src="{% static 'img/company-logos/DRI.png' %}"
                                         alt="Ministry of Finance">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4">
                            <div class="client--img">
                                <a href="">
                                    <img src="{% static 'img/company-logos/NBI.png' %}"
                                         alt="Ministry of Finance">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4">
                            <div class="client--img">
                                <a href="">
                                    <img src="{% static 'img/company-logos/Global-IME-Capital.png' %}"
                                         alt="Ministry of Finance">
                                </a>
                            </div>
                        </div>

                        <div class="col-xl-3 col-lg-3 col-md-4">
                            <div class="client--img">
                                <a href="">
                                    <img src="{% static 'img/company-logos/nchl.png' %}"
                                         alt="Ministry of Finance">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4">
                            <div class="client--img">
                                <a href="">
                                    <img src="{% static 'img/company-logos/IRD.png' %}"
                                         alt="Ministry of Finance">
                                </a>
                            </div>
                        </div>

                        <div class="col-xl-3 col-lg-3 col-md-4">
                            <div class="client--img">
                                <a href="">
                                    <img src="{% static 'img/company-logos/Public-service-commission.png' %}"
                                         alt="Ministry of Finance">
                                </a>
                            </div>
                        </div>

                    </div>


                </div>

                <div class="text-center mt-3">
                    <a href="" data-toggle="collapse" data-target="#clientcollapse" aria-expanded="false"
                       id="showmoreimg"
                       aria-controls="clientimage">Show more >></a>
                </div>
            </div>


        </section>

        <!-- client review block -->


        <!-- contact block -->
        {% include 'info/partials/solution_form.html' %}


    </main>

    {% include 'info/partials/footer.html' %}

{% endblock %}

{% block extra_scripts %}
    <script type="text/javascript" src="{% static 'js/about.js' %}"></script>
{% endblock %}