{% extends 'base.html' %}
{% load static %}
{% load cms_tags menu_tags sekizai_tags staticfiles %}

{% block content %}

    <header class="header--about ">
        <!-- <div class="header--image"></div> -->

        <img src="{% static 'img/other images/Mask Group 2.jpg' %}" class="header--image" alt="About Us">
        <div class="header--imageOverlay"></div>

        {% include 'info/partials/menu.html' %}

        <div class="header--middle  text-white container d-flex justify-content-between align-items-end flex-column flex-md-row">
            <div class="text--contact text-white mt-5">


                <h6 id="aboutus">Careers</h6>
                <h4 class="my-4" id="about-head">Join Our Team</h4>
                <p id="about-info" class="mb-md-0">
                    {% placeholder 'content-header' or %}
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                        ut labore et dolore magna aliquyam erat.
                    {% endplaceholder %}

                </p>
            </div>

            <div class="header--careers text-white text-left align-self-start align-self-md-end ">
                <h6 class="text-left mb-3">I'm interested in</h6>
                <form class="selectmenu">
                    <div class="custom--select">
                        <select class="my_selected_category">
                            <option selected disabled>Choose job category</option>
                            {% placeholder 'dropdown' %}
                        </select>
                    </div>

                    <a href="#" class="btns--primary go_job_detail">
                        Go
                    </a>
                </form>
            </div>

        </div>

    </header>

    <main>

        <section class="section-breadcrumb">
            <div class="container">
                <ul class="breadcrumb--list">
                    <li class="breadcrumb--item active">
                        <a href="{% url 'home' %}" class="breadcrumb--link">Home</a>
                    </li>
                    <li>
                        <a href="" class="breadcrumb--link">Careers</a>
                    </li>
                </ul>
            </div>
        </section>


        <section class="section__contents pt-4">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12" id="ourstory">

                        <h4 class="heading--primary mb-3">Our Culture</h4>


                        {% placeholder 'Our Culture Description 1' or %}
                            <p class="text--primary mb-4">The information is displayed in the form of with bold colors
                                and
                                a
                                distinctive personality, which makes for an impressive page. Since signifies important
                                content, this color scheme works perfectly.</p>
                        {% endplaceholder %}

                        <div class="row">
                            <div class="col-lg-12">
                                {% placeholder 'Our Culture Description 2' or %}
                                    <p class="text--primary twocolumn">
                                        FINSYS is a unique and proven automation solution for financial institutions,
                                        whose
                                        design is unmatched with other products available in the market in term of price
                                        and
                                        features. Its highly parameterized design enables the software to be
                                        reconfigured in
                                        a very short span of time without having the source code to be changed. This
                                        parameterization feature also gives the
                                        power to adopt with various kind of banking environment with wide range of ever
                                        changing requirements.
                                    </p>
                                {% endplaceholder %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section--passion">
            <div class="container">
                {% placeholder 'Passion Header' or %}
                    <h4 class="heading--primary">What is your passion?</h4>
                {% endplaceholder %}
                <div class="row">
                    {% placeholder 'careers category' or %}
                        <div class="col-lg-3 col-md-4 col-sm-6 col-sm-3 col-12">
                            <a href="#" class="card--careers">
                                <img src="{% static 'img/other images/img1.jpg' %}" alt="careerimage"
                                     class="career-image">

                                <h6 class="text--careers__title">
                                    Business Development
                                </h6>
                                <p class="text--careers__position">
                                    12 Positions
                                </p>
                            </a>
                        </div>
                    {% endplaceholder %}
                </div>
            </div>
        </section>

        <!-- quotation block just an image for now -->

        {% comment %}<section class="section-quotation">
            <div class="quotation--image">
                {% placeholder 'CEO Image' or %}
                    <img src="{% static 'images/a8b11d52069ec160a353e37354ad4b82.jpg' %}" alt="quotation" class="w-100">
                {% endplaceholder %}
            </div>
            <div class="container">
                <div class="quotation--text">

                    <p class="quote--item">
                        {% placeholder 'CEO Slogan' or %}
                            "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                            invidunt
                            ut
                            labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                            dolores
                            et ea rebum. Stet clita kasd gubergren, no sea takimatatext."
                        {% endplaceholder %}
                    </p>

                    <h6 class="quote--author">Mr. Umesh Raghubanshi</h6>
                    <p class="quote--position">
                        Founder, CEO
                    </p>
                </div>
            </div>


        </section>{% endcomment %}

        <!--Apprentice Section-->
        {% if apprenticeship_last.id %}
            <section class="section-apprentice">
                <div class="container">
                    <h4 class="heading--primary mb-3">
                        {% placeholder 'apprentice-header' or %}
                            Our Apprenticeship Program
                        {% endplaceholder %}
                    </h4>
                    <div class="apprentice--list">
                        <div class="apprentice--item">
                            <div class="row align-items-center">
                                <div class="col-lg-4 col-sm-4 col-12">
                                    <h6 class="position">Programs</h6>
                                </div>
                                <div class="col-lg-4 col-sm-4 col-12 ">
                                    <h6 class="category">Category</h6>
                                </div>
                                <div class="col-lg-4 col-sm-4 col-12">
                                    <div class="button"></div>
                                </div>
                            </div>
                        </div>
                        {% placeholder 'apprenticeship' or %}
                            <div class="apprentice--item">
                                <div class="row align-items-center">
                                    <div class="col-lg-4 col-sm-4 col-12">
                                        <div class="position">
                                            <h6>Currently we are not opened for Apprenticeships</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endplaceholder %}
                    </div>
                    <div class="link--careers">
                        <a href="{% url 'careers-detail' apprenticeship_last.id %}#nav-apprenticeship">View All </a>
                    </div>
                </div>
            </section>
        {% endif %}


        <!-- contact block -->

        {% include 'info/partials/solution_form.html' %}

        <!-- Modal -->
        <div class="modal modal--python" id="modalPython" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                </div>
            </div>
        </div>
        <div class="modal modal--python_apply" id="modalPythonApply" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                </div>
            </div>
        </div>

    </main>
    {% include 'info/partials/footer.html' %}

{% endblock %}

{% block extra_scripts %}
    <script type="text/javascript" src="{% static 'js/careers.js' %}"></script>
    <script type="text/javascript">
        $('#modalPython').on('show.bs.modal', function (e) {
            var button = $(e.relatedTarget);
            var modal = $(this);
            modal.find('.modal-content').load(button.data("remote"));
        });

        $('#modalPythonApply').on('show.bs.modal', function (e) {
            var button = $(e.relatedTarget);
            var modal = $(this);
            modal.find('.modal-content').load(button.data("remote"));
        });
    </script>
    <script>

        $('.my_selected_category').click(function () {
            $('.go_job_detail').attr('href', this.value)
        })
    </script>
{% endblock %}
