{% extends 'base.html' %}
{% load static %}
{% load cms_tags menu_tags sekizai_tags staticfiles %}
{% load category_job_filter %}

{% block extrastylesheets %}
    <link href="{% static 'main.css' %}" rel="stylesheet">
{% endblock extrastylesheets %}

{% block content %}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <!-- Button trigger modal -->
    <!-- Modal -->
    <div class="modal modal--python" id="modalPython" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
            </div>
        </div>
    </div>
    <div class="modal modal--python_apply" id="modalPythonApply" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            </div>
        </div>
    </div>

    <header class="header--about ">
        <!-- <div class="header--image"></div> -->
        <img src="{% static 'img/other images/Mask Group 2.jpg' %}" class="header--image" alt="About Us">
        <div class="header--imageOverlay"></div>

        {% include 'info/partials/menu.html' %}

        <div class="header--middle  text-white container d-flex justify-content-between align-items-end flex-column flex-md-row">
            <div class="text--contact text-white mt-5">
                {% placeholder 'content-header' %}
                <!-- <h6 id="aboutus">Careers</h6>
                 <h4 class="my-4" id="about-head">Join Our Team</h4>
                 <p id="about-info" class="mb-md-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                     nonumy
                     eirmod
                     tempor invidunt ut labore et dolore magna aliquyam erat.</p>-->
            </div>

        </div>

    </header>


    <main>
        <section class="section-breadcrumb">
            <div class="container">
                <ul class="breadcrumb--list">
                    <li class="breadcrumb--item active">
                        <a href="{% url 'home' %}" class="breadcrumb--link">Home</a>
                    </li>
                    <li class="breadcrumb--item active">
                        <a href="{% url 'careers' %}" class="breadcrumb--link">Careers</a>
                    </li>
                    <li>
                        <a href="" class="breadcrumb--link">Career Openings</a>
                    </li>
                </ul>
            </div>
        </section>

        <section class="section-joblist">
            <div class="container">
                <div class="careers--nav">
                    <nav>
                        <div class="nav" id="nav-tab" role="tablist">
                            <a class="nav-item active" id="nav-jobopenings-tab" data-toggle="tab"
                               href="#nav-jobopenings" role="tab" aria-controls="nav-jobopenings"
                               aria-selected="true">Job Openings</a>
                            <a class="nav-item" id="nav-apprenticeship-tab" data-toggle="tab" href="#nav-apprenticeship"
                               role="tab" aria-controls="nav-apprenticeship" aria-selected="false">Apprenticeship</a>

                        </div>
                    </nav>
                </div>
            </div>
            <div class="careers--tabcontent">
                <div class="container">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-jobopenings" role="tabpanel"
                             aria-labelledby="nav-jobopenings-tab">

                            <div class="row">
                                <div class="col-lg-3">
                                    <ul class="sidenav mb-0 mb-sm-4 mb-lg-0">

                                        {% for c in category_menu %}
                                            <li {% if c.id == category.id %} class="active" {% endif %}>
                                                <a data-toggle="collapse" href="#list{{ c.id }}" role="button"
                                                   aria-expanded="false"
                                                   aria-controls="list1">
                                                    <div class="mb-3 mb-sm-4">
                                                        {#                                                        <a href="{% url 'careers-detail' c.id %}"><span>{{ c.name }}</span></a>#}
                                                        <span class="category_name"
                                                              id="{% url 'careers-detail' c.id %}">
                                                            {{ c.name }}
                                                        </span>
                                                        {% with no_of_jobs=c.sum_jobs %}
                                                            <p>
                                                                {% firstof no_of_jobs "0" %}
                                                                Position{{ no_of_jobs|pluralize }}
                                                            </p>
                                                        {% endwith %}
                                                    </div>
                                                    <div class="roundedDot"></div>
                                                </a>

                                                <div class="accord collapse d-sm-none" id="list{{ c.id }}">
                                                    <div class="apprentice--list">
                                                        {% for job in c.jobs.all|jobs_filter %}
                                                            <div class="apprentice--item">
                                                                <div class="row align-items-center ">
                                                                    <div class="col-lg-4 col-sm-4 col-12">
                                                                        <div class="position">
                                                                            <h6>{{ job.title }}</h6>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-4 col-sm-4 col-12 test">
                                                                        <div class="position">
                                                                            <p>{{ job.no_of_vacancy }}-position{{ job.no_of_vacancy|pluralize }}</p>
                                                                        </div>

                                                                    </div>
                                                                    <div class="col-lg-4 col-sm-4 col-12 button-flex">
                                                                        <a data-remote="{% url 'job-detail' job.id %}"
                                                                           data-toggle="modal"
                                                                           data-target="#modalPython"
                                                                           href="{% url 'job-detail' job.id %}"
                                                                           class="btns--careers">Details</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </li>
                                        {% endfor %}


                                    </ul>
                                </div>

                                <!--Desktop Jobs-->
                                <div class="col-lg-9">
                                    <div class="apprentice--list d-none d-sm-block">
                                        <div class="apprentice--item">
                                            <div class="row align-items-center align-items-center">
                                                <div class="col-lg-4 col-sm-4 col-12">
                                                    <h6 class="position">Job Title</h6>
                                                </div>
                                                <div class="col-lg-4 col-sm-4 col-12 ">
                                                    <h6 class="category">Open Positions</h6>
                                                </div>
                                                <div class="col-lg-4 col-sm-4 col-12">
                                                    <div class="button"></div>
                                                </div>
                                            </div>
                                        </div>

                                        <!--Jobs related to category-->
                                        {% for job in category.jobs.all|jobs_filter %}
                                            <div class="apprentice--item">
                                                <div class="row align-items-center ">
                                                    <div class="col-lg-4 col-sm-4 col-12">
                                                        <div class="position">
                                                            <h6>{{ job.title }}</h6>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-sm-4 col-12 test">
                                                        <div class="position">
                                                            <p>{{ job.no_of_vacancy }}-position{{ job.no_of_vacancy|pluralize }}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-sm-4 col-12 button-flex">

                                                        {% comment %}<a data-remote="{% url 'bmss:smssentdelete' sms.id %}"
                                                           data-toggle="modal"
                                                           data-target="#base-modal"
                                                           href="{% url 'bmss:smssentdelete' sms.id %}"
                                                           class="btn btn-sm btn-danger recipients"> Delete</a>{% endcomment %}


                                                        <a data-remote="{% url 'job-detail' job.id %}"
                                                           data-toggle="modal"
                                                           data-target="#modalPython"
                                                           href="{% url 'job-detail' job.id %}"
                                                           class="btns--careers">Details</a>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}


                                    </div>
                                </div>
                            </div>


                        </div>
                        <!-- Apprenticeship -->
                        <div class="tab-pane fade" id="nav-apprenticeship" role="tabpanel"
                             aria-labelledby="nav-apprenticeship-tab">
                            <div class="apprentice--list">
                                <div class="apprentice--item">
                                    <div class="row align-items-center">
                                        <div class="col-lg-4 col-sm-4 col-12">
                                            <h6 class="position">Programs</h6>
                                        </div>
                                        <div class="col-lg-4 col-sm-4 col-12 ">
                                            <h6 class="category">Category</h6>
                                        </div>
                                        <div class="col-lg-4 col-sm-4 col-12">
                                            <div class="button"></div>
                                        </div>
                                    </div>
                                </div>
                                {% for apprenticeship in apprenticeships %}
                                    <div class="apprentice--item">
                                        <div class="row align-items-center">
                                            <div class="col-lg-4 col-sm-4 col-12">
                                                <div class="position">
                                                    <h6>{{ apprenticeship.title }}</h6>
                                                    <p>{{ apprenticeship.no_of_vacancy }}-position{{ apprenticeship.no_of_vacancy|pluralize }}</p>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-sm-4 col-12 test">
                                                <h6 class="category">{{ apprenticeship.category }}</h6>
                                            </div>
                                            <div class="col-lg-4 col-sm-4 col-12 button-flex">
                                                <a data-remote="{% url 'apprenticeship-detail' apprenticeship.id %}"
                                                   data-toggle="modal"
                                                   data-target="#modalPython"
                                                   href="{% url 'apprenticeship-detail' apprenticeship.id %}"
                                                   class="btns--careers">Details</a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Team Pictures-->
        <section class="section-teamspirit">
            <div class="container">
                <h6 class="heading--primary mb-2 mb-md-4">
                    In our team spirit, we believe.
                </h6>
                <p class="text--primary mb-4">
                    {#                    {% placeholder 'Our Team Spirit' or %}Lorems ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod {% endplaceholder %}#}
                </p>


            </div>
            <div class="teamSlick mt-2">
                <div class="slick--item">
                    <div class="team--img">
                        <img src="{% static 'images/infodevelopers-career-thumb-our-pics-1.jpg' %}" alt="teamspirit"
                             class="img-fluid">
                    </div>
                </div>
                <div class="slick--item">
                    <div class="team--img">
                        <img src="{% static 'images/infodevelopers-career-thumb-our-pics-2.jpg' %}" alt="teamspirit"
                             class="img-fluid">
                    </div>
                </div>
                <div class="slick--item">
                    <div class="team--img">
                        <img src="{% static 'images/infodevelopers-career-thumb-our-pics-3.jpg' %}" alt="teamspirit"
                             class="img-fluid">
                    </div>
                </div>
                <div class="slick--item">
                    <div class="team--img">
                        <img src="{% static 'images/infodevelopers-career-thumb-our-pics-4.jpg' %}" alt="teamspirit"
                             class="img-fluid">
                    </div>
                </div>
                <div class="slick--item">
                    <div class="team--img">
                        <img src="{% static 'images/infodevelopers-career-thumb-our-pics-5.jpg' %}" alt="teamspirit"
                             class="img-fluid">
                    </div>
                </div>
                <div class="slick--item">
                    <div class="team--img">
                        <img src="{% static 'img/teamspirit/Rectangle 128.jpg' %}" alt="teamspirit"
                             class="img-fluid">
                    </div>
                </div>
            </div>



        </section>

        <!-- What our Team Say-->
        <section class="section-teamsay section-clients">
            <img src="{% static 'img/background/rectangle-bg.png' %}" alt="bluebg"
                 class="background--img__one">
            <img src="{% static 'img/background/grp-bg.png' %}" alt="bluebg"
                 class="background--img__two">
            <div class="container">
                <div class="row mt-3" id="section-clients">
                    <div class="col-xl-3 col-lg-2">
                        <h4 class="heading--primary mb-4 mb-xl-0 ml-3 text-md-center mb-md-4">Our Say</h4>
                    </div>

                    <div class="col-xl-9 col-lg-10">

                        <div class="team-review">
                            <div class="client--item">
                                <div class="row">
                                    <div class="col-xl-3 col-lg-3 col-md-4">

                                        <div class="row">
                                            <div class="col-md-12 col-sm-3 col-6">
                                                <img src="{% static 'img//our-say/shreesh.jpg' %}"
                                                     alt=""
                                                     class="uimg-large d-block mx-auto mb-3 mb-md-0 rounded-circle"/>
                                            </div>

                                            <div class="col-md-12 col-sm-9 col-6">
                                                <div class="text-md-center d-inline-block d-md-block">
                                                    <div class="heading--sm  mt-2 ml-2">
                                                        Shreesh Prasad Shrestha
                                                    </div>
                                                    <p class="heading--xs   mb-0">
                                                        Java Developer

                                                    </p>

                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-9 col-lg-9 col-md-8">
                                        <div class="card card--client">

                                            <p class="text--primary">
                                                I have learned a lot. Since joining info developers about 2 years ago as
                                                a fresher, I have come a long way as a professional and I am really
                                                grateful to that. I still am learning constantly and wish to continue my
                                                development here if possible.
                                            </p>
                                            <p class="text--primary mt-2">
                                                We have good relationships very hard working dedicated managers, knows
                                                how to handle the situations and grab the opportunity. We do have good
                                                developers.
                                            </p>


                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="client--item">
                                <div class="row">
                                    <div class="col-xl-3 col-lg-3 col-md-4">

                                        <div class="row">
                                            <div class="col-md-12 col-sm-3 col-6">
                                                <img src="{% static 'img//our-say/abin.jpg' %}"
                                                     alt=""
                                                     class="uimg-large d-block mx-auto mb-3 mb-md-0 rounded-circle"/>
                                            </div>

                                            <div class="col-md-12 col-sm-9 col-6">
                                                <div class="text-md-center d-inline-block d-md-block">
                                                    <div class="heading--sm  mt-2 ml-2">
                                                        Abin Khatiwada
                                                    </div>
                                                    <p class="heading--xs   mb-0">
                                                        Senior Developer

                                                    </p>

                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-9 col-lg-9 col-md-8">
                                        <div class="card card--client">

                                            <p class="text--primary">
                                                I am growing career wise because I get chance to learn and implement new
                                                technology. Entire project is on your shoulder, so you learn to be
                                                responsible. I get chance to work on every task involved during project
                                                life cycle.
                                            </p>
                                            <p class="text--primary mt-2">
                                                I think, as of now, our strength is our position in software industry
                                                and our capacity to win projects. I feel management is hardworking and
                                                dedicated in delivering solutions.
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            {% comment %} <div class="client--item">
                                <div class="row">
                                    <div class="col-xl-3 col-lg-3 col-md-4">

                                        <div class="row">
                                            <div class="col-md-12 col-sm-3 col-6">
                                                <img src="{% static 'images/12652be61443a08d095e7beb661f2ae6.jpg' %}"
                                                     alt=""
                                                     class="uimg-large d-block mx-auto mb-3 mb-md-0 rounded-circle"/>
                                            </div>

                                            <div class="col-md-12 col-sm-9 col-6">
                                                <div class="text-md-center d-inline-block d-md-block">
                                                    <div class="heading--sm  mt-2 ml-2">
                                                        Diwakar Pandey
                                                    </div>
                                                    <p class="heading--xs   mb-0">
                                                        Python Developer

                                                    </p>

                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-9 col-lg-9 col-md-8">
                                        <div class="card card--client">

                                            <p class="text--primary">
                                                The company I knew and now where it stands is in complete different
                                                level. It's in the sense of development level. It's in the sense of
                                                development, value to employee, management, and also scope.
                                            </p>
                                            <p class="text--primary mt-2">
                                                I got good colleagues, lots of positive challenges, and flexibility in
                                                my leaning and working time ratio. Why do I need more than that, if
                                                company value my personal growth?
                                            </p>


                                        </div>

                                    </div>
                                </div>
                            </div>{% endcomment %}

                            <div class="client--item">
                                <div class="row">
                                    <div class="col-xl-3 col-lg-3 col-md-4">

                                        <div class="row">
                                            <div class="col-md-12 col-sm-3 col-6">
                                                <img src="{% static 'img/our-say/nina.jpg' %}"
                                                     alt=""
                                                     class="uimg-large d-block mx-auto mb-3 mb-md-0 rounded-circle"/>
                                            </div>

                                            <div class="col-md-12 col-sm-9 col-6">
                                                <div class="text-md-center d-inline-block d-md-block">
                                                    <div class="heading--sm  mt-2 ml-2">
                                                        Nina Siwakoti
                                                    </div>
                                                    <p class="heading--xs   mb-0">
                                                        Database Developer

                                                    </p>

                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-9 col-lg-9 col-md-8">
                                        <div class="card card--client">


                                            <p class="text--primary">
                                                I am constantly meeting ne challenges which has helped me learn a lot
                                                and grow within my work.
                                            </p>
                                            <p class="text--primary mt-2">
                                                Here, people are highly versatile, great at learning new things,
                                                naturally curious and enjoy new things.
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </section>




        <!-- contact block -->
        {% include 'info/partials/solution_form.html' %}


    </main>

    <footer class="footer--home">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6" id="footer-contact">
                    <div class="heading--secondary mb-4">
                        Contact us
                    </div>

                    <ul class="footer--list">
                        <li class="d-flex">
                            <div class="footer--icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <path
                                            d="M12 .3C7.3.3 3.5 4.1 3.5 8.8c0 5.8 7.6 14.4 7.9 14.7.3.3.8.3 1.1 0 .3-.4 7.9-8.9 7.9-14.7.1-4.7-3.7-8.5-8.4-8.5zM12 13c-2.4 0-4.3-1.9-4.3-4.3S9.6 4.5 12 4.5s4.3 1.9 4.3 4.3S14.4 13 12 13z"/>
                                </svg>
                            </div>
                            <div class="footer--text">
                                <span class="footer--text">Sanepa-2 Lalitpur</span>
                            </div>
                        </li>

                        <li class="d-flex">
                            <div class="footer--icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <path
                                            d="M2.3 8.4c.3.2 1.2.8 2.7 1.9 1.5 1.1 2.7 1.9 3.5 2.4.1.1.3.2.6.4s.5.4.7.5c.2.1.4.3.7.4.3.2.5.3.8.4.2.1.5.1.7.1.2 0 .4 0 .7-.1.2-.1.5-.2.8-.4.3-.2.5-.3.7-.4.2-.1.4-.3.7-.5.3-.2.5-.3.6-.4.8-.6 2.9-2 6.3-4.4.7-.5 1.2-1 1.6-1.6.4-.6.7-1.3.7-2 0-.6-.2-1.1-.6-1.5-.4-.4-.9-.6-1.5-.6H2.1c-.7 0-1.2.2-1.6.7-.3.4-.5 1-.5 1.7 0 .6.2 1.2.7 1.8.5.7 1.1 1.2 1.6 1.6z"/>
                                    <path
                                            d="M22.7 9.8c-2.9 2-5.2 3.5-6.7 4.6-.5.4-.9.7-1.2.9-.3.2-.7.4-1.3.6-.5.2-1 .3-1.5.3s-.9-.1-1.5-.3c-.5-.2-.9-.4-1.3-.6-.3-.2-.7-.5-1.2-.9-1.2-.8-3.4-2.4-6.6-4.6-.6-.3-1-.7-1.4-1.1v10.6c0 .6.2 1.1.6 1.5.4.4.9.6 1.5.6h19.7c.6 0 1.1-.2 1.5-.6.4-.4.6-.9.6-1.5V8.7c-.3.4-.7.8-1.2 1.1z"/>
                                </svg>
                            </div>
                            <div class="footer--text">
                                <a href="mailto:info@infodev.com.np">info@infodev.com.np</a>
                            </div>
                        </li>


                        <li class="d-flex">
                            <div class="footer--icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <path
                                            d="M24 18.9c.2 1.3-2.7 3.6-3.7 4.3-2.5 1.8-6.2-.1-8.5-1.5-3.5-2.1-6.6-5.1-8.9-8.4C1.2 10.8-1.4 6.4.7 3.6c.7-1 3.2-4 4.5-3.6 1.3.3 2.6 4 3.1 5.1 1 2.4-1 2.1-1.3 4-.4 2.1 5.6 8 7.6 7.9 1.7-.1 1.9-2.3 3.9-1.8 1.2.3 5.2 2.4 5.5 3.7 0 .4-.1-.4 0 0z"/>
                                </svg>
                            </div>
                            <div class="footer--text">
                                <a href="tel:+977-1-5542355">+977-1-5542355</a>,
                                <a href="tel:5541757">5541757</a>,
                                <a href="tel:5546470">5546470</a>,
                                <a href="tel:5013196">5013196</a>,
                                <a href="tel:5013166">5013166</a>,
                                <a href="tel:5013197">5013197</a>,
                                <a href="tel:5546471">5546471</a>
                            </div>
                        </li>
                    </ul>
                </div>


                <div class="col-xl-4 col-lg-4 col-md-5 col-sm-6" id="footer-support">
                    <div class="heading--secondary mb-4 mt-4 mt-sm-0">
                        For Support
                    </div>

                    <ul class="footer--list">


                        <li class="d-flex">
                            <div class="footer--icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <path
                                            d="M2.3 8.4c.3.2 1.2.8 2.7 1.9 1.5 1.1 2.7 1.9 3.5 2.4.1.1.3.2.6.4s.5.4.7.5c.2.1.4.3.7.4.3.2.5.3.8.4.2.1.5.1.7.1.2 0 .4 0 .7-.1.2-.1.5-.2.8-.4.3-.2.5-.3.7-.4.2-.1.4-.3.7-.5.3-.2.5-.3.6-.4.8-.6 2.9-2 6.3-4.4.7-.5 1.2-1 1.6-1.6.4-.6.7-1.3.7-2 0-.6-.2-1.1-.6-1.5-.4-.4-.9-.6-1.5-.6H2.1c-.7 0-1.2.2-1.6.7-.3.4-.5 1-.5 1.7 0 .6.2 1.2.7 1.8.5.7 1.1 1.2 1.6 1.6z"/>
                                    <path
                                            d="M22.7 9.8c-2.9 2-5.2 3.5-6.7 4.6-.5.4-.9.7-1.2.9-.3.2-.7.4-1.3.6-.5.2-1 .3-1.5.3s-.9-.1-1.5-.3c-.5-.2-.9-.4-1.3-.6-.3-.2-.7-.5-1.2-.9-1.2-.8-3.4-2.4-6.6-4.6-.6-.3-1-.7-1.4-1.1v10.6c0 .6.2 1.1.6 1.5.4.4.9.6 1.5.6h19.7c.6 0 1.1-.2 1.5-.6.4-.4.6-.9.6-1.5V8.7c-.3.4-.7.8-1.2 1.1z"/>
                                </svg>
                            </div>
                            <div class="footer--text">
                                <a href="mailto:support@infodevelopers.com.np">support@infodevelopers.com.np</a>
                            </div>
                        </li>


                        <li class="d-flex">
                            <div class="footer--icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <path
                                            d="M24 18.9c.2 1.3-2.7 3.6-3.7 4.3-2.5 1.8-6.2-.1-8.5-1.5-3.5-2.1-6.6-5.1-8.9-8.4C1.2 10.8-1.4 6.4.7 3.6c.7-1 3.2-4 4.5-3.6 1.3.3 2.6 4 3.1 5.1 1 2.4-1 2.1-1.3 4-.4 2.1 5.6 8 7.6 7.9 1.7-.1 1.9-2.3 3.9-1.8 1.2.3 5.2 2.4 5.5 3.7 0 .4-.1-.4 0 0z"/>
                                </svg>
                            </div>
                            <div class="footer--text">
                                <a href="tel:9801098394">9801098394 </a>,
                                <a href="tel:9801098391">9801098391</a>,
                                <a href="tel:9801098395">9801098395</a>,
                                <a href="tel:9801103260">9801103260</a>,
                                <a href="tel:9801103261">9801103261</a>,
                                <a href="tel:9801103262">9801103262</a>,
                                <a href="tel:9801103263">9801103263</a>,
                                <a href="tel:9801103264">9801103264</a>,
                                <a href="tel:9801103266">9801103266</a>
                                <span class="footer--text">(10am to 5:30pm only)</span>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-3 col-sm-4" id="footer-logo">
                    <img src="{% static 'img/info-logo.png' %}" alt=""
                         class="img-fluid p-lg-4 footer--logo">
                </div>
            </div>

            <div class="footer--copyright">
                <div class="d-flex flex-column align-items-center flex-sm-row justify-content-sm-between px-sm-5">
                    <div class="footer--copyright__text">
                        Copyright &copy; <span id="date"></span> InfoDevelopers
                    </div>
                    <div class="footer--copyright__text">
                        <a href="">Privacy</a>
                        <a href="">Terms & Conditions</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock content %}


{% block extra_scripts %}
    <script type="text/javascript" src="{% static 'js/careerdetails.js' %}"></script>
    <script>
        //var hash = document.location.hash;
        if (document.location.hash == '#nav-apprenticeship') {
            $('#nav-apprenticeship-tab').tab('show');
        } else if (document.location.hash == '#nav-jobopenings') {
            $('#nav-jobopenings-tab').tab('show');

        }

        $('#nav-jobopenings-tab').click(function () {
            window.location.hash = 'nav-jobopenings'
        })
        $('#nav-apprenticeship-tab').click(function () {
            window.location.hash = 'nav-apprenticeship'
        })
    </script>
    <script type="text/javascript">
        $('#modalPython').on('show.bs.modal', function (e) {
            var button = $(e.relatedTarget);
            var modal = $(this);
            modal.find('.modal-content').load(button.data("remote"));
        });

        $('#modalPythonApply').on('show.bs.modal', function (e) {
            var button = $(e.relatedTarget);
            var modal = $(this);
            modal.find('.modal-content').load(button.data("remote"));
        });
        $('.category_name').click(function () {
            if ($(window).width() > 575) {
                var loc = window.location.href.split('/careers-detail/')[0];
                window.location.href = loc + this.id
            }
        })

    </script>

{% endblock %}



