{% extends 'base.html' %}
{% load cms_tags menu_tags sekizai_tags staticfiles %}
{% load static %}

{% block content %}

    <header class="header--home">

        <!-- <video class="header--video" src="./abstract_line3.mp4" autoplay muted loop>
            </video> -->
        <div id="particles-js"></div>

        {% include 'info/partials/menu.html' %}

        <section class="container section-contact position--contact">
            <div class="card card--contact">
                {% include 'info/partials/solution_form.html'%}
                {% include 'info/partials/footer.html' %}
            </div>
        </section>

    </header>


{% endblock %}

{% block extra_scripts %}
    <script type="text/javascript" src="{% static 'js/contact.js' %}"></script>
{% endblock %}