{% extends 'base.html' %}
{% load cms_tags menu_tags sekizai_tags staticfiles %}

{% load static %}

{% block content %}

    <button id="scrollBtn" title="Go to top">
        <svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24">
            <path
                    d="M13.2 5.7L23.5 16c.7.7.7 1.7 0 2.4s-1.7.7-2.4 0L12 9.3l-9.1 9c-.7.7-1.8.7-2.4 0-.7-.7-.7-1.7 0-2.4L10.8 5.6c.3-.3.8-.5 1.2-.5.4.1.9.2 1.2.6z"/>
        </svg>
    </button>


    <header class="header--home ">
        <div id="particles-js"></div>

        <!-- nav here -->
        {% include 'info/partials/menu.html' %}

        <div class="header--middle my-auto text-white container ">
            <h1 class="d-flex flex-column flex-sm-row text-white header--title">
                <div>Our Digital Technologies help</div>
                <div class="ml-sm-2 box-container">
                    <p class="box word">
                        1000+ Financial Institutions
                    </p>
                    <p class="box">
                        Government
                    </p>
                    <p class="box">
                        Nonprofits
                    </p>
                    <!-- <p class="box">
                            1000+ Financial Institutions
                        </p> -->
                </div>
            </h1>

            <h1 class="mt-4">
                <div class="position-relative">
                    <p class="box1 word">Manage 1 million+ customers and perform data analytics</p>
                    <p class="box1">Serve Citizens Better</p>
                    <p class="box1">Run More Efficiently and Do Good</p>
                    <!-- <p class="box1">Manage 1 million+ customers and perform data analytics</p> -->
                </div>
            </h1>

            <div class="mt-5 d-block">
                <a href="{% url 'contact_us' %}" class="btns--primary mt-5  d-inline-block">
                <span>

                    <svg xmlns="http://www.w3.org/2000/svg" fill="white" width="24px" viewBox="0 0 24 24">
                        <path
                                d="M12 6.1c-.3 0-.5.2-.5.5 0 .2.2.4.5.4s.5-.2.5-.5c0-.2-.2-.4-.5-.4zM4.4 14.3c.3 0 .5-.2.5-.5s-.2-.5-.5-.5-.4.3-.4.5.2.5.4.5z"/>
                        <path
                                d="M15.7 1.5c-4.1 0-7.5 2.8-7.7 6.4-3.9.2-7.6 3-7.6 6.8 0 1.6.6 3.1 1.8 4.4.1.9-.2 1.9-.8 2.6-.1.1-.2.3-.1.5s.2.3.4.3c1.3 0 2.6-.5 3.5-1.4.9.3 2.1.5 3.2.5 4.1 0 7.5-2.8 7.7-6.4 1 0 2-.2 2.7-.5.9.9 2.2 1.4 3.5 1.4.2 0 .4-.1.4-.3.1-.2 0-.4-.1-.5-.7-.7-1-1.7-.7-2.6 1.1-1.2 1.8-2.8 1.8-4.4 0-3.9-4-6.8-8-6.8zM8.3 20.7c-1.1 0-2.3-.2-3.1-.5-.2-.1-.4 0-.5.1-.6.6-1.3 1-2 1.2.4-.8.5-1.8.3-2.7 0-.1-.1-.1-.1-.2-1-1.1-1.6-2.4-1.6-3.8 0-3.2 3.3-5.9 7.1-5.9 3.6 0 6.8 2.5 6.8 5.9 0 3.2-3.1 5.9-6.9 5.9zm12.9-8.5c-.1.1-.1.1-.1.2-.3.9-.2 1.9.3 2.7-.8-.2-1.5-.6-2-1.2-.1-.1-.3-.2-.5-.1-.7.3-1.7.5-2.7.5-.1-1.7-1-3.3-2.5-4.6h6c.3 0 .5-.2.5-.5s-.2-.5-.5-.5h-7.4c-1.1-.4-2.3-.7-3.5-.8.3-3.1 3.2-5.5 6.8-5.5 3.9 0 7.1 2.7 7.1 5.9.1 1.4-.5 2.8-1.5 3.9z"/>
                        <path
                                d="M12 13.4H6.2c-.3 0-.5.2-.5.5s.2.5.5.5H12c.3 0 .5-.2.5-.5s-.2-.5-.5-.5zM12 16.1H4.4c-.3 0-.5.2-.5.5s.3.4.5.4H12c.3 0 .5-.2.5-.5s-.2-.4-.5-.4zM19.6 6.1h-5.8c-.3 0-.5.2-.5.5s.2.5.5.5h5.8c.2-.1.4-.3.4-.6 0-.2-.2-.4-.4-.4z"/>
                    </svg>
                </span>
                    Lets talk</a>
            </div>
        </div>
        <div class="header--bottom container">

            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-12">
                    <div class="text--secondary">
                        What business results do you want to acheive ?
                    </div>

                    <a href="{% url 'about_us' %}" class="btns--primary mt-3 d-inline-block mb-4 mb-lg-0">Explore our services
                        <span class="d-inline-black ml-2">

                        <svg xmlns="http://www.w3.org/2000/svg" fill="white" width="10px" viewBox="0 0 24 24">
                            <path
                                    d="M18.3 13.2L8 23.5c-.7.7-1.7.7-2.4 0s-.7-1.7 0-2.4l9.1-9.1-9-9.1C5 2.2 5 1.1 5.7.5c.7-.7 1.7-.7 2.4 0l10.3 10.3c.3.3.5.8.5 1.2-.1.4-.2.9-.6 1.2z"/>
                        </svg>

                    </span>
                    </a>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                    <div class="header--box mb-4 mb-md-0">
                        <div class="right-icon">

                            <svg xmlns="http://www.w3.org/2000/svg" width="24px" fill="white" viewBox="0 0 24 24">
                                <path
                                        d="M15.9 4.3c-.3-.3-.8-.3-1.1 0-.3.3-.3.8 0 1.1l5.7 5.7h-19c-.4 0-.8.4-.8.8s.4.8.8.8h19l-5.7 5.7c-.3.3-.3.8 0 1.1.3.3.8.3 1.1 0l7.1-7.1c.3-.3.3-.8 0-1.1l-7.1-7z"/>
                            </svg>
                        </div>
                        <div class="text--primary">Reduce cost of business
                            <br> operations
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                    <div class="header--box mb-4 mb-md-0">
                        <div class="right-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24px" fill="white" viewBox="0 0 24 24">
                                <path
                                        d="M15.9 4.3c-.3-.3-.8-.3-1.1 0-.3.3-.3.8 0 1.1l5.7 5.7h-19c-.4 0-.8.4-.8.8s.4.8.8.8h19l-5.7 5.7c-.3.3-.3.8 0 1.1.3.3.8.3 1.1 0l7.1-7.1c.3-.3.3-.8 0-1.1l-7.1-7z"/>
                            </svg>
                        </div>
                        <div class="text--primary">Need banking & financial
                            <br> solutions
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                    <div class="header--box mb-4 mb-md-0">
                        <div class="right-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24px" fill="white" viewBox="0 0 24 24">
                                <path
                                        d="M15.9 4.3c-.3-.3-.8-.3-1.1 0-.3.3-.3.8 0 1.1l5.7 5.7h-19c-.4 0-.8.4-.8.8s.4.8.8.8h19l-5.7 5.7c-.3.3-.3.8 0 1.1.3.3.8.3 1.1 0l7.1-7.1c.3-.3.3-.8 0-1.1l-7.1-7z"/>
                            </svg>
                        </div>
                        <div class="text--primary">Use new technology
                            <br> to stay ahead of competition
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </header>
    <main>

        <!-- vision block -->
        <section class="section-vision">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-5 col-md-6" id="milestone-text">
                        <div id="mission">
                            <h3 class="heading--primary">Our Mission</h3>

                            <p class="text--primary mt-4">
                                {% placeholder "Mission Text" or %}
                                    To solve complex problems utilizing the prevailing and leading technologies to
                                    empower people, businesses, and machines.
                                {% endplaceholder %}
                            </p>

                        </div>


                        <div id="vision">
                            <h3 class="heading--primary vision--spacing">Our Vision</h3>
                            <p class="text--primary mt-4">
                                We have a vision to create powerful software with imagination and leading technologies,
                                for
                                people and machines to work together


                            </p>
                        </div>

                    </div>

                    <div class="col-xl-5 col-lg-5 offset-lg-2 col-md-6" id="milestone-img">
                        <div class="text-left mt-4 mt-md-0">

                            <p class="text--primary font-weight-bold">We still have not forgotten our ROOTS</p>
                            <h3 class="heading--primary mt-3 mb-2">A Software Company</h3>
                            <p class="text--primary">Our Core Banking Software and Software Engineering
                                Services
                            </p>

                        </div>
                        <div class="text-left mt-4 mt-md-0" id="laptopimage">
                            <img src="{% static 'img/Group 1.png' %}" alt=""
                                 class="img-fluid mtop-2">

                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- milestone block     -->
        <section class="section-milestone">
            <div class="container">
                <h3 class="heading--primary mb--2" id="milestone-title">Our Milestones</h3>
                <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                        <div class="card--milestone card" id="project-completed">
                            <div class="card--milestone__count">200+</div>
                            <div class="card--milestone__icon">

                                <svg xmlns="http://www.w3.org/2000/svg" class="svg--project" viewBox="0 0 64 64">
                                    <path
                                            d="M53.8 10.2v38.4H6.6c-3.3 0-5.9-2.2-6.5-5.4-.1-.4-.1-.8-.1-1.2V11.8c0-3.6 2.6-6.1 5.4-6.5 3.2-.5 6.1 1.4 7 4.5.1.4.3.5.8.5h40c.2-.1.3-.1.6-.1zm-2.6 2.6H12.8v29.4h-2.5v-.3c-.3-2.8-3.3-4.4-5.7-3-1.5.9-2.3 2.6-1.8 4.4.4 1.7 1.9 2.8 3.8 2.8H51.3c-.1-11.1-.1-22.2-.1-33.3zm-41 24.3v-.5-24.9-.5C10 8.9 7.9 7.3 5.7 7.7c-1.9.4-3.1 1.9-3.1 4v25.4c2.5-1.7 5.1-1.7 7.6 0z"/>
                                    <path
                                            d="M64 20.5v38.4H16.8c-1.6 0-3-.5-4.3-1.5-.6-.5-.7-1.3-.2-1.8.5-.6 1.3-.6 1.9-.1.8.6 1.7.9 2.7.9h44.7v-.5-32.3c0-.3 0-.5-.4-.6-.6-.1-.9-.7-.9-1.3 0-.6.4-1.1 1-1.2H64z"/>
                                    <path
                                            d="M58.9 53.8H11.7c-1.6 0-3.1-.5-4.3-1.5-.6-.5-.7-1.3-.2-1.9.5-.6 1.2-.6 1.9-.1.8.7 1.7.9 2.7.9h44.6V18c-.1 0-.2 0-.4-.1-.6-.2-.9-.7-.9-1.3 0-.6.5-1.1 1-1.1h2.8v38.3z"/>
                                    <path
                                            d="M17.9 30.2c3-2.9 6-5.7 9-8.5 2.1 2.2 4.3 4.5 6.4 6.7 2.2-2.1 4.4-4.2 6.7-6.3-.9-.9-1.9-1.8-2.8-2.8 0 0 0-.1.1-.1h7.5v7.5c-.9-1-1.9-2-2.9-3-3 2.8-5.8 5.5-8.7 8.2-2.1-2.2-4.3-4.5-6.4-6.7-2.4 2.3-4.8 4.5-7.2 6.8-.6-.6-1.1-1.2-1.7-1.8zM44.8 37.1v2.5H18v-2.5h26.8z"/>
                                </svg>
                            </div>
                            <h4 class="heading--secondary">
                                Projects completed
                            </h4>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                        <div class="card--milestone card" id="project-professional">
                            <div class="card--milestone__count">150+</div>
                            <div class="card--milestone__icon">
                                <svg xmlns="http://www.w3.org/2000/svg" class="svg--project" viewBox="0 0 64 64">
                                    <path
                                            d="M47.4 23.4c0 2-1.7 3.7-3.7 3.7S40 25.4 40 23.4s1.7-3.7 3.7-3.7 3.7 1.6 3.7 3.7zM36.3 0c2 0 3.7 1.7 3.7 3.7s-1.7 3.7-3.7 3.7-3.7-1.7-3.7-3.7S34.3 0 36.3 0zM21.6 0c2 0 3.7 1.7 3.7 3.7s-1.7 3.7-3.7 3.7-3.7-1.7-3.7-3.7S19.5 0 21.6 0zm-7.4 19.7c2 0 3.7 1.7 3.7 3.7s-1.7 3.7-3.7 3.7-3.7-1.7-3.7-3.7c0-2.1 1.6-3.7 3.7-3.7zm-3.7 24.6v-7.4H8v6.2H6.8c-.7 0-1.2-.6-1.2-1.2v-7.4c0-2.7 2.2-4.9 4.9-4.9H13v3.7h2.5v-3.8c3.3-.7 5.4-4 4.7-7.3-.7-3.3-3.9-5.3-7.2-4.7v-2.6c0-2.7 2.2-4.9 4.9-4.9h2.5v3.7h2.5V10h4.4c-1.2 1.4-1.9 3.1-1.9 4.9h2.5c0-2.7 2.2-4.9 4.9-4.9h2.5v3.7h2.5V10h2.5c2.7 0 4.9 2.2 4.9 4.9v2.6c-3.4-.6-6.5 1.7-7.1 5-.5 3.2 1.5 6.3 4.6 7v3.8h2.5v-3.7h2.5c2.7 0 4.9 2.2 4.9 4.9v7.4c0 .7-.6 1.2-1.2 1.2h-1.2v-6.2h-2.5v19.7h-2.5V48h-2.5v8.6H40V48h-2.5v8.6H35V45.5h1.2c2 0 3.7-1.7 3.7-3.7v-7.4c0-3.6-2.7-6.7-6.3-7.3 2.1-2.7 1.7-6.5-1-8.6-2.7-2.1-6.5-1.7-8.6 1-1.8 2.2-1.8 5.4 0 7.7-3.6.6-6.3 3.6-6.3 7.3v7.4c0 2 1.7 3.7 3.7 3.7h1.2v11.1h-2.5v-8.6h-2.5v8.6h-2.5v-8.6h-2.5v8.6h-2.5V44.3zM27.7 48v8.6h-2.5V36.9h-2.5v6.2h-1.2c-.7 0-1.2-.6-1.2-1.2v-7.4c0-2.7 2.2-4.9 4.9-4.9h2.5v3.7h2.5v-3.7h2.5c2.7 0 4.9 2.2 4.9 4.9v7.4c0 .7-.6 1.2-1.2 1.2h-1.2v-6.2h-2.5v19.7h-2.5V48h-2.5zm-2.5-24.6c0-2 1.7-3.7 3.7-3.7s3.7 1.7 3.7 3.7-1.7 3.7-3.7 3.7-3.7-1.7-3.7-3.7zM54.8 64H3.1C1.7 64 .6 62.9.6 61.5S1.7 59 3.1 59h51.7c1.4 0 2.5 1.1 2.5 2.5S56.1 64 54.8 64zM56.9 6v6.5h6.5v2.8h-6.5v6.6h-3v-6.6h-6.5v-2.8h6.5V6h3z"/>
                                </svg>
                            </div>
                            <h4 class="heading--secondary">
                                Professionals
                            </h4>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                        <div class="card--milestone card " id="project-operation">
                            <div class="card--milestone__count">17+</div>
                            <div class="card--milestone__icon">


                                <?xml version="1.0" encoding="utf-8"?>

                                <svg version="1.1" id="Layer_1" class="svg--project" xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24"
                                     style="enable-background:new 0 0 24 24;" xml:space="preserve">
                                <style type="text/css">
                                    .st0 {
                                        opacity: 0.75;
                                        enable-background: new;
                                    }

                                    .st1 {
                                        opacity: 0.6;
                                        enable-background: new;
                                    }

                                    .st2 {
                                        opacity: 0.44;
                                        enable-background: new;
                                    }

                                    .st3 {
                                        opacity: 0.25;
                                        enable-background: new;
                                    }

                                    .st4 {
                                        opacity: 0.18;
                                        enable-background: new;
                                    }

                                    .st5 {
                                        opacity: 5.000000e-02;
                                        enable-background: new;
                                    }

                                    .st6 {
                                        opacity: 2.000000e-02;
                                        enable-background: new;
                                    }
                                </style>
                                    <path
                                            d="M5.7,24H1.8c-0.1,0-0.3-0.1-0.3-0.3v-3.8c0-0.1,0.1-0.3,0.3-0.3h3.8c0.1,0,0.3,0.1,0.3,0.3v3.8C5.9,23.9,5.8,24,5.7,24z"/>
                                    <path class="st0" d="M7.6,18.8h-3c-0.1,0-0.3-0.1-0.3-0.3v-3c0-0.1,0.1-0.3,0.3-0.3h3c0.1,0,0.3,0.1,0.3,0.3v3
	C7.9,18.7,7.7,18.8,7.6,18.8z"/>
                                    <path class="st1" d="M9.5,14.4H7.4c-0.1,0-0.3-0.1-0.3-0.3V12c0-0.1,0.1-0.3,0.3-0.3h2.1c0.1,0,0.3,0.1,0.3,0.3v2.1
	C9.7,14.3,9.6,14.4,9.5,14.4z"/>
                                    <path class="st2" d="M15.4,10.9h-1.2c-0.1,0-0.3-0.1-0.3-0.3V9.4c0-0.1,0.1-0.3,0.3-0.3h1.2c0.1,0,0.3,0.1,0.3,0.3v1.2
	C15.6,10.8,15.5,10.9,15.4,10.9z"/>
                                    <path class="st3" d="M19.1,8.3h-1.2c-0.1,0-0.3-0.1-0.3-0.3V6.8c0-0.1,0.1-0.3,0.3-0.3h1.2c0.1,0,0.3,0.1,0.3,0.3V8
	C19.4,8.2,19.3,8.3,19.1,8.3z"/>
                                    <path class="st4" d="M19.2,5.3h-1.1c-0.1,0-0.3-0.1-0.3-0.3V4c0-0.1,0.1-0.3,0.3-0.3h1.1c0.1,0,0.3,0.1,0.3,0.3v1
	C19.4,5.2,19.3,5.3,19.2,5.3z"/>
                                    <path class="st3" d="M15.8,8.3h-1.2c-0.1,0-0.3-0.1-0.3-0.3V6.8c0-0.1,0.1-0.3,0.3-0.3h1.2c0.1,0,0.3,0.1,0.3,0.3V8
	C16.1,8.2,16,8.3,15.8,8.3z"/>
                                    <path class="st5" d="M21,2.8h-0.4c-0.1,0-0.3-0.1-0.3-0.3V2.1c0-0.1,0.1-0.3,0.3-0.3H21c0.1,0,0.3,0.1,0.3,0.3v0.4
	C21.3,2.7,21.1,2.8,21,2.8z"/>
                                    <path class="st6" d="M22.7,1.2h-0.3c-0.1,0-0.2-0.1-0.2-0.2V0.7c0-0.1,0.1-0.2,0.2-0.2h0.3c0.1,0,0.2,0.1,0.2,0.2V1
	C22.9,1.2,22.8,1.2,22.7,1.2z"/>
                                    <path class="st2" d="M12.2,10.9H11c-0.1,0-0.3-0.1-0.3-0.3V9.4c0-0.1,0.1-0.3,0.3-0.3h1.2c0.1,0,0.3,0.1,0.3,0.3v1.2
	C12.5,10.8,12.4,10.9,12.2,10.9z M18.5,10.9h-1.2c-0.1,0-0.3-0.1-0.3-0.3V9.4c0-0.1,0.1-0.3,0.3-0.3h1.2c0.1,0,0.3,0.1,0.3,0.3v1.2
	C18.8,10.8,18.6,10.9,18.5,10.9z"/>
                                    <path class="st1" d="M13.8,14.4h-2.1c-0.1,0-0.3-0.1-0.3-0.3V12c0-0.1,0.1-0.3,0.3-0.3h2.1c0.1,0,0.3,0.1,0.3,0.3v2.1
	C14.1,14.3,14,14.4,13.8,14.4z M18,14.4h-2.1c-0.1,0-0.3-0.1-0.3-0.3V12c0-0.1,0.1-0.3,0.3-0.3H18c0.1,0,0.3,0.1,0.3,0.3v2.1
	C18.3,14.3,18.2,14.4,18,14.4z"/>
                                    <path class="st0" d="M12.8,18.8h-3c-0.1,0-0.3-0.1-0.3-0.3v-3c0-0.1,0.1-0.3,0.3-0.3h3c0.1,0,0.3,0.1,0.3,0.3v3
	C13.1,18.7,13,18.8,12.8,18.8z M18.1,18.8h-3c-0.1,0-0.3-0.1-0.3-0.3v-3c0-0.1,0.1-0.3,0.3-0.3h3c0.1,0,0.3,0.1,0.3,0.3v3
	C18.3,18.7,18.2,18.8,18.1,18.8z"/>
                                    <path
                                            d="M10.9,24H7.1c-0.1,0-0.3-0.1-0.3-0.3v-3.8c0-0.1,0.1-0.3,0.3-0.3h3.8c0.1,0,0.3,0.1,0.3,0.3v3.8C11.2,23.9,11.1,24,10.9,24z
	 M16.1,24h-3.8c-0.1,0-0.3-0.1-0.3-0.3v-3.8c0-0.1,0.1-0.3,0.3-0.3h3.8c0.1,0,0.3,0.1,0.3,0.3v3.8C16.4,23.9,16.3,24,16.1,24z"/>
                            </svg>

                            </div>
                            <h4 class="heading--secondary">
                                Years in Operation
                            </h4>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6" id="project-client">
                        <div class="card--milestone card">
                            <div class="card--milestone__count">1000+</div>
                            <div class="card--milestone__icon">

                                <svg xmlns="http://www.w3.org/2000/svg" class="svg--project" viewBox="0 0 24 24">
                                    <path
                                            d="M24 23.5c-1.9-.6-3.7-1.2-5.5-1.8-.4-.1-.8-.1-1.2.1-7 3.8-15.3 0-17.1-7.7C-1 8.5 2.7 2.5 8.4.9 15-1 21.9 3.3 23.1 10.1c.3 1.7.2 3.5-.4 5.1-.2.6-.2 1.2-.1 1.8.5 2 .9 4.1 1.3 6.1.1.1.1.2.1.4zm-1.5-1.7c-.4-1.9-.8-3.6-1.1-5.3-.1-.4 0-.8.1-1.2.5-1.5.7-3 .5-4.6C21.1 4.5 15.2.5 9.1 1.9 3.2 3.4-.3 9.7 1.8 15.3c2.3 6.2 9.5 8.7 15.2 5.3.5-.3.9-.4 1.4-.2 1.3.5 2.6.9 4.1 1.4z"/>
                                    <path
                                            d="M6.8 14c.6-.1 1-.1 1.3.6.7 1.5 2.1 2.1 3.6 2.1 1.7 0 3.3-1.2 3.8-2.8h1.1c.1 1.9-2.2 3.8-4.6 3.9-2.6.3-5.1-1.6-5.2-3.8zM9 10.1c0 .5-.4.9-1 1-.6 0-.9-.3-1-.9 0-.6.4-1 .9-1 .7 0 1.1.4 1.1.9zM16.4 10.1c0 .5-.4.9-.9 1-.6 0-1-.3-1-.9 0-.6.4-1 .9-1 .6 0 1 .4 1 .9z"/>
                                </svg>
                            </div>
                            <h4 class="heading--secondary">
                                Happy Clients
                            </h4>
                        </div>
                    </div>

                </div>
            </div>
        </section>


        <!-- solution block -->
        <section class="section-solution">
            <div class="container">


                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12">


                        <div class="text-center position-relative text-white">
                            <div class="testing">
                                <span class="solution--title">Reinventing the</span> &nbsp;
                                <span class="solution--alternate"></span>
                            </div>
                            <h3 class="solution--subtitle"> Turn Auto-Piloting on, sit back and relax</h3>
                        </div>
                    </div>

                </div>
            </div>
            </div>
            <div class="solution-border">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0"
                     y="0"
                     width="100%" height="220" xml:space="preserve">
                <pattern id="water" width=".25" height="1.1" patternContentUnits="objectBoundingBox">
                    <path fill="#0071BC"
                          d="M0.25,1H0c0,0,0-0.659,0-0.916c0.083-0.303,0.158,0.334,0.25,0C0.25,0.327,0.25,1,0.25,1z"/>
                </pattern>
                    <rect fill="url(#water)" x="-500" y="100" width="3000" height="120" opacity="0.2">
                    <animate attributeType="xml" attributeName="x" from="-700" to="0" repeatCount="indefinite"
                             dur="3s"/>
                </rect>
                    <rect fill="url(#water)" y="105" width="3000" height="120" opacity="0.5">
                    <animate attributeType="xml" attributeName="x" from="-700" to="0" repeatCount="indefinite"
                             dur="3.8s"/>
                </rect>
            </svg>

            </div>
        </section>


        <!-- client block -->
        <section class="section-client bg-white">
            <div class="container">
                <div id="ourclient">
                    <h3 class="heading--primary mb-2">Our Clients</h3>
                    <p class="text--primary mb-0">Genuine associations deliver transformational results</p>
                </div>


                <div class="clientSlick">
                    <div class="slick--item">
                        <div class="row">
                            <div class="col-6 col-sm-4 col-md-3">
                                <div class="client--img">
                                    <img src="{% static 'img/company-logos/Ministry-of-finance.png' %}" alt="">
                                </div>
                            </div>
                            <div class="col-6 col-sm-4 col-md-3">
                                <div class="client--img ">
                                    <img src="{% static 'img/company-logos/DOIT.png' %}" alt="">
                                </div>
                            </div>
                            <div class="col-6 col-sm-4 col-md-3">
                                <div class="client--img ">
                                    <img src="{% static 'img/company-logos/Financial-Comptroller-General-Office.png' %}" alt="">
                                </div>
                            </div>
                            <div class="col-6 col-sm-4 col-md-3">
                                <div class="client--img ">
                                    <img src="{% static 'img/company-logos/National-Microfinance.png' %}" alt="">
                                </div>
                            </div>
                            <div class="col-6 col-sm-4 col-md-3">
                                <div class="client--img ">
                                    <img src="{% static 'img/company-logos/DRI.png' %}" alt="">
                                </div>
                            </div>
                            <div class="col-6 col-sm-4 col-md-3">
                                <div class="client--img ">
                                    <img src="{% static 'img/company-logos/sanima-capital-logo.png' %}" alt="">
                                </div>
                            </div>
                            <div class="col-6 col-sm-4 col-md-3">
                                <div class="client--img ">
                                    <img src="{% static 'img/company-logos/Save-the-Children.png' %}" alt="">
                                </div>
                            </div>
                            <div class="col-6 col-sm-4 col-md-3">
                                <div class="client--img ">
                                    <img src="{% static 'img/company-logos/Swabalamban.png' %}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slick--item">
                        <div class="row">

                            <div class="col-6 col-sm-4 col-md-3">

                                <div class="client--img ">
                                    <img src="{% static 'img/company-logos/TEPC.png' %}" alt="">
                                </div>
                            </div>

                            <div class="col-6 col-sm-4 col-md-3">

                                <div class="client--img ">
                                    <img src="{% static 'img/company-logos/National-Tuberculosis-Center.png' %}" alt="">
                                </div>

                            </div>

                            <div class="col-6 col-sm-4 col-md-3">
                                <div class="client--img ">
                                    <img src="{% static 'img/company-logos/NBI.png' %}" alt="">
                                </div>


                            </div>
                            <div class="col-6 col-sm-4 col-md-3">
                                <div class="client--img ">
                                    <img src="{% static 'img/company-logos/Global-IME-Capital.png' %}" alt="">
                                </div>
                            </div>
                            <div class="col-6 col-sm-4 col-md-3">
                                <div class="client--img ">
                                    <img src="{% static 'img/company-logos/nchl.png' %}" alt="">
                                </div>
                            </div>
                            <div class="col-6 col-sm-4 col-md-3">
                                <div class="client--img ">
                                    <img src="{% static 'img/company-logos/IRD.png' %}" alt="">
                                </div>
                            </div>
                            <div class="col-6 col-sm-4 col-md-3">
                                <div class="client--img ">
                                    <img src="{% static 'img/company-logos/Public-service-commission.png' %}" alt="">
                                </div>

                            </div>


                        </div>
                    </div>

                </div>


            </div>


        </section>


        <!-- client review block -->

        <section class="section-clients">
            <div class="container">
                <div class="row" id="section-clients">
                    <div class="col-xl-2 col-lg-2">
                        <h3 class="heading--primary mb-4 mb-lg-0">Our Client Say</h3>
                    </div>

                    <div class="col-xl-10 col-lg-10 col-md-12">

                        <div class="client-review">


                            <div class="client--item">
                                <div class="row">
                                    <div class="col-xl-3 col-lg-3 col-md-4">

                                        <div class="row">
                                            <div class="col-md-12 col-sm-3 col-6">
                                                <img src="{% static 'img/client-img/laxmi-prasad-yadav.jpg' %}"
                                                     alt=""
                                                     class="uimg-large d-block mx-auto mb-3 mb-md-0 rounded-circle"/>
                                            </div>

                                            <div class="col-md-12 col-sm-9 col-6">
                                                <div class="text-md-center d-inline-block d-md-block">
                                                    <div class="heading--sm  mt-2">
                                                        Laxmi Prasad Yadav
                                                    </div>
                                                    <p class="heading--xs   mb-0">
                                                        Director General

                                                    </p>
                                                    <p class="heading--xs  ">

                                                        Government of Nepal, Department Of Information Technology
                                                    </p>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-9 col-lg-9 col-md-8">
                                        <div class="card card--client">
                                            <div class="heading--md mb-3">
                                                Timely Delivery, consistent and quality of work
                                            </div>

                                            <p class="text--primary">
                                                I know InfoDevelopers for more than 5 years and have been consistently
                                                impressed by the work that they have delivered. Their attitude is great,
                                                they deliver on time, and the quality is really appreciable.
                                            </p>


                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="client--item">
                                <div class="row">
                                    <div class="col-xl-3 col-lg-3 col-md-4">

                                        <div class="row">
                                            <div class="col-md-12 col-sm-3 col-6">
                                                <img src="{% static 'img/client-img/stc-pp.png' %}"
                                                     alt=""
                                                     class="uimg-large d-block mx-auto mb-3 mb-md-0 rounded-circle"/>
                                            </div>

                                            <div class="col-md-12 col-sm-9 col-6">
                                                <div class="text-md-center d-inline-block d-md-block">
                                                    <div class="heading--sm  mt-2">
                                                        Bobyna Lama
                                                    </div>
                                                    <p class="heading--xs   mb-0">
                                                        MIS Manager

                                                    </p>
                                                    <p class="heading--xs  ">

                                                        Save the Children
                                                    </p>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-9 col-lg-9 col-md-8">
                                        <div class="card card--client">
                                            <div class="heading--md mb-3">
                                                Knowledge and expertise to deliver on time
                                            </div>

                                            <p class="text--primary">
                                                The team at InfoDevelopers is simply the best. We are impressed with
                                                InfoDevelopers' attention to detail, consistent availability and most
                                                importantly, their knowledge and expertise to deliver on time. Thanks to
                                                everyone at InfoDevelopers for helping us to transform digitally.
                                            </p>


                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="client--item">
                                <div class="row">
                                    <div class="col-xl-3 col-lg-3 col-md-4">

                                        <div class="row">
                                            <div class="col-md-12 col-sm-3 col-6">
                                                <img src="{% static 'img/client-img/ram-bahadur-yadav.jpg' %}"
                                                     alt=""
                                                     class="uimg-large d-block mx-auto mb-3 mb-md-0 rounded-circle"/>
                                            </div>

                                            <div class="col-md-12 col-sm-9 col-6">
                                                <div class="text-md-center d-inline-block d-md-block">
                                                    <div class="heading--sm  mt-2">
                                                        Ram Bahadur Yadav
                                                    </div>
                                                    <p class="heading--xs   mb-0">
                                                        Chief Executive Officer

                                                    </p>
                                                    <p class="heading--xs  ">

                                                        National Microfinance
                                                    </p>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-9 col-lg-9 col-md-8">
                                        <div class="card card--client">
                                            <div class="heading--md mb-3">
                                                Highly Responsive professionals
                                            </div>

                                            <p class="text--primary">
                                                We have been using the Empower Core Banking Solution and other Digital
                                                Service Solutions developed by InfoDevelopers since five years. They are
                                                highly responsive and professional in providing any kind of digital
                                                services around the clock.


                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="client--item">
                                <div class="row">
                                    <div class="col-xl-3 col-lg-3 col-md-4">

                                        <div class="row">
                                            <div class="col-md-12 col-sm-3 col-6">
                                                <img src="{% static 'img/client-img/madhav-prasad-poudel.jpg' %}"
                                                     alt=""
                                                     class="uimg-large d-block mx-auto mb-3 mb-md-0 rounded-circle"/>
                                            </div>

                                            <div class="col-md-12 col-sm-9 col-6">
                                                <div class="text-md-center d-inline-block d-md-block">
                                                    <div class="heading--sm  mt-2">
                                                        Madhav Poudel
                                                    </div>
                                                    <p class="heading--xs   mb-0">
                                                        Chief Officer

                                                    </p>
                                                    <p class="heading--xs  ">

                                                        VYCCU Savings and Credit Cooperative Ltd.
                                                    </p>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-9 col-lg-9 col-md-8">
                                        <div class="card card--client">
                                            <div class="heading--md mb-3">
                                                Trusted Partner, a positive experience
                                            </div>

                                            <p class="text--primary">
                                                We've been using Infinity Core Banking Solution developed by
                                                InfoDevelopers since 7 years and it is has been a very positive
                                                experience for me and my institution. We are proud to be the first to
                                                launch ATM, Mobile Banking, Missed Call Banking, QR code and Tab Banking
                                                with the platform developed by InfoDevelopers. InfoDevelopers has been a
                                                trusted partner in our Digital Initiative.
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>


        <!-- expertise block -->

        <section class="section-expertise expertise-block">
            <div class="container">
                <h3 class="heading--primary text-center text-white mb-md-5">We expertise on</h3>
                <div class="row">


                    <div class="col-xl-4 col-lg-4 col-6">
                        <div class="expertise-item" id="expertise-enterprise">
                            <img src="{% static 'img/svg/ui.svg' %}" alt=""
                                 class="img-fluid">
                            <h5 class="type--medium">Enterprise</h5>
                            <!-- <p class="type2-small text-white">
                                    Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impede.
                                </p> -->
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-4 col-6">
                        <div class="expertise-item" id="expertise-vr">
                            <img src="{% static 'img/svg/ar-glasses.svg' %}" alt=""
                                 class="img-fluid">
                            <h5 class="type--medium">VR/AR</h5>

                        </div>
                    </div>


                    <div class="col-xl-4 col-lg-4 col-6">
                        <div class="expertise-item mb-lg-0" id="expertise-datascience">
                            <img src="{% static 'img/svg/data.svg' %}" alt=""
                                 class="img-fluid">
                            <h5 class="type--medium">Data science</h5>

                        </div>
                    </div>


                    <div class="col-xl-4 col-lg-4 col-6">
                        <div class="expertise-item mb-lg-0" id="expertise-ai">
                            <img src="{% static 'img/svg/brain.svg' %}" alt=""
                                 class="img-fluid">
                            <h5 class="type--medium">Artificial Intelligence</h5>

                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-4 col-6">
                        <div class="expertise-item mb-lg-0" id="expertise-iot">
                            <img src="{% static 'img/svg/ic-iot.svg' %}" alt=""
                                 class="img-fluid">
                            <h5 class="type--medium">Internet of Things (IOT)
                            </h5>

                        </div>
                    </div>


                    <div class="col-xl-4 col-lg-4 col-6">
                        <div class="expertise-item mb-lg-0" id="expertise-bi">
                            <img src="{% static 'img/svg/ic-business-intelligence.svg' %}" alt=""
                                 class="img-fluid">
                            <h5 class="type--medium">Business Intelligence
                            </h5>

                        </div>
                    </div>


                </div>
            </div>
        </section>


        <!-- contact block -->
        {% include 'info/partials/solution_form.html' %}


    </main>
    {% include 'info/partials/footer.html' %}

{% endblock %}

{% block extra_scripts %}
    <script type="text/javascript" src="{% static 'js/home.js' %}"></script>
{% endblock %}