{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Terms and Conditions</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 

    <!-- Bootstrap -->
    <link href="{% static 'terms_and_conditions/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'terms_and_conditions/css/custom.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container mainbody">
        <div class="row"> 
            <div class="col-md-10 col-md-offset-1" style="font-size: 14px;line-height: 32px;">
                <!-- <h2 style="color:#f56218;">Under-Construction </h2> -->
                <div class="panel panel-default dabali_terms_cond">
                    <div class="panel-body">
                    <h2 class="title">Terms and Condition</h2><hr>

                    <p class="dabali_description">
                        The following terminology applies to these Terms and Conditions(collectively, with Info Developers-s , Privacy Statement and Disclaimer Notice and any or all Agreements) governs your use of the App and the services, features, content or applications operated by Info Developers ("The Company", "Ourselves", "We", "Us"  or "Our") and provided to the User (": "Client", "You" and "Your" refers to you, the person accessing this application and accepting the Company's terms and conditions. 
                    </p>

                    <p class="dabali_description"><strong>Please read these Term of Condition carefully before using the Services.</strong></p>
                    
                    <p class="dabali_description">"Party", "Parties" refers to both the Client and ourselves, or either the Client or ourselves. All terms refer to the offer, acceptance and consideration of payment necessary to undertake the process of our assistance to the Client in the most appropriate manner. Any use of the above terminology or other words in the singular, plural, capitalization and/or he/she or they, are taken as interchangeable and therefore as referring to same. By becoming a registered user of this app and  its  affiliate  services constitutes your acceptance and agreement to be bound by these Term of Condition, and all other operating rules, policies and procedures that may be published from time to time on the App by us, and  you  agree  to  be  contacted  by  Info  Developers  Pvt.  Ltd.  and  our affiliates via communication modes including but not limited to email, SMS, MMS, and telephonic calls. Each of which is incorporated by reference and each of which may be upadated from time to time without notice to you. IF YOU DO NOT AGREE TO THESE TERMS OF CONDITION, YOU MAY NOT USE THE SERVICES AND YOU SHOULD EXIT THE APP AND STOP USE OF THE SERVICES IMMEDIATELY. </p>

                    <p class="dabali_description"> You agree that Info Developers Pvt. Ltd. may, in its sole discretion and without prior notice, terminate your access to the application and block Your future access to the Application, provided that if any such alterations constitute a material change to these Terms of Condition, Info Developers will notify you by posting an announcement on the App. Amendments and modifications shall take effect immediately when posted on the App. if Info Developers Pvt. Ltd. determines that You have violated the terms of these Terms of Use or any other Agreement(s). You also agree that any violation by You of the Agreement(s) will cause irreparable harm to Info Developers Pvt. Ltd., for which monetary damages may be inadequate, and You consent to Info Developers Pvt. Ltd. obtaining any injunctive or equitable relief that Info  Developers  Pvt.  Ltd.  deems  necessary  or  appropriate  in  such  circumstances.  These remedies are in addition to any other remedies Info Developers Pvt. Ltd. may have at law or in equity.</p>

                    <p class="dabali_description">Info Developers Pvt. Ltd. reserves the right to refuse access to use the Services offered at the application to new Users or to terminate access granted to existing Users at any time without according any reasons for doing so.</p>

                    <p class="dabali_description"><strong>Eligible Visitors</strong></p>
                    <p class="dabali_description">The Services are not targeted towards, nor intended for use by, anyone under the age of 16. , who can enter into legally binding contracts under applicable law or a corporation, trust, association of persons, or firm.. In case of a corporation, trust, association of persons or a firm, you must be authorized to agree to the Terms and Conditions and to access, use and avail of the Application and services provided by it.</p>

                    <p class="dabali_description">The Electronic Channels is intended for the access of Nepali Citizens and residents of Nepal only. These Electronic Channels are compliant and its services are governed by the Nepalese Law.</p>

                    <p class="dabali_description">Over and above the present Terms and Service, Merchants must agree and qualify as per the conditions of the Merchant Agreement. The company reserves the right to terminate the access to any visitor at its discretion.</p>

                    <p class="dabali_description"><strong>Top up/Recharge</strong></p>
                    <p class="dabali_description">This Application has tied up with a third party enabler for the top up/ recharge. Info Developers is not responsible for any delay, pricing or cancellation of recharge from mobile operators end. Though, best efforts are made to keep the service above acceptance levels.</p>
                    
                    <p class="dabali_description">
                    User is solely responsible for the selection of mobile operator and the recharge amount. Info Developers is not responsible for bonus given against top up/ recharge done through this application as this is purely at mobile operator's disposal.
                    </p>

                    <p class="dabali_description"><strong>Lawful use of the Application</strong></p>
                    <p class="dabali_description">In using the Services, User must comply with, and refrain from violations of, any right of any other person, entity, or law, or any contractual duty, including but not limited to the Laws of Nepal.</p> 


                    <p class="dabali_description"><strong>Violation of Copyright, Trademark, Patent or Trade Secret</strong></p>
                    <p class="dabali_description">Users may not use the Services in violation of the Copyrights, trademark, patent or trade secrets of third parties, nor shall they utilize the services to publish such materials in a manner that would expose them to public view in violation of the law.</p>

                    <p class="dabali_description"><strong>Exclusions and  Limitations</strong></p>

                    <p class="dabali_description">The information on this web site/ App  is provided on an "as is" basis. To the fullest extent permitted by law, this Company:</p>

                    <p class="dabali_description">excludesCompany excludes all representations and warranties relating to this website and its contents or which is or may be provided by any affiliates or any other third party, including in relation to any inaccuracies or omissions in this website and/or the Company's literature; and excludes all liability for damages arising out of or in connection with your use of this application. This includes, without limitation, direct loss, loss of business or profits (whether or not the loss of such profits was foreseeable, arose in the normal course of things or you have advised this Company of the possibility of such potential loss), damage caused to your computer, computer software, systems and programs and the data thereon or any other direct or indirect, consequential and incidental damages.</p>

                    <p class="dabali_description"><strong>Modification of These Terms and Conditions of Use</strong></p>
                    <p class="dabali_description">The Company reserves the right to change these conditions from time to time as it sees fit and your continued use of the application will signify your acceptance of any adjustment to these terms. User is required to check terms and conditions at every visit. No notification communication will be done subject to change in terms and conditions.</p>

                    <p class="dabali_description"><strong>General Provision</strong></p>
                    <p class="dabali_description">All the terms and conditions between you and Info Developers Pvt. Ltd. shall be governed by the law of Nepal. By using this application you agree to the laws. Any dispute of any sort that might  arise  between  you  and  this  application  or  its  affiliates  is  subject  to  Kathmandu jurisdiction only.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="text-center dabali_footer">&copy; <a href="http://infodev.com.np">Infodevelopers Pvt. Ltd.</a></footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'terms_and_conditions/js/jquery.min.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'terms_and_conditions/js/bootstrap.min.js' %}"></script>
  </body>
</html>