{% load cms_tags menu_tags sekizai_tags staticfiles %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1.0,
    minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700|Poppins:400,600,700&display=swap"
          rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <link href="{% static 'style.css' %}" rel="stylesheet">
    {% block extrastylesheets %}{% endblock %}

    <!-- Site Title -->
    <title>{% block title %}{% page_attribute 'page_title' %} {% endblock %} | InfoDevelopers Pvt. Ltd.</title>
    <meta name="keywords" content="Coperative Software Developer in Nepal, Coperative Mobile Banking App, , micro finance software, coperative software, sahakari software, coperative software solution, Infinity coperative software, Finsys Cooperative Software, empower software, Empower microbanking Software" />
   
    <meta name="description" content="InfoDevelopers is Leading Cooperative, Micro finance, Cooperative Mobile Banking Solution Provider in Nepal. Our Digital Technologies help 1000+ Financial Institutions using Infinity coperative Software, Impower Micro banking (Laghubitta) Software. we give priority to our customers to enhance their business." />
    <meta name="google-site-verification" content="XB68JNH_t6uafPNlmlJo3lCqtZZak555_t2UkIFkBSc" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-177243827-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-177243827-1');
    </script>

    <!-- Django CMS CSS renderer -->
    {% render_block "css" %}

</head>

<body>

<!-- Django CMS Tool-bar -->
{% cms_toolbar %}

{% include 'info/partials/mobile_menu.html' %}

{% block content %}{% endblock %}

<!-- Django CMS JS renderer -->
{% render_block "js" %}


<script src="https://code.jquery.com/jquery-3.1.0.js"
        integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk=" crossorigin="anonymous">
</script>
<script type="text/javascript" src="{% static 'js/vendors.js' %}"></script>

{% block extra_scripts %}{% endblock %}

<script>
    $('#solutionForm').submit(function (event) {
        event.preventDefault();
        var $formData = $(this).serialize();
        var token = '{{csrf_token}}';
        $.ajax({
            headers: {"X-CSRFToken": token},
            method: "POST",
            url: "{% url 'solution-form' %}",
            data: $formData,
            dataType: 'json',
            success: function (data) {
                $("#solution_alert").append(
                    `
                        <div class="alert alert-success" role="alert" id="solution_alert_box">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          ${data['message']}
                        </div>
                    `
                );
                $('#solutionForm').trigger("reset");
                $('#applyForm').trigger("reset");
                window.setTimeout(function () {
                    $("#solution_alert_box").fadeTo(500, 0).slideUp(500, function () {
                        $(this).remove();
                    });
                }, 2000);
            }
        }); //end ajax
    })
</script>

</body>

</html>