<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Email Template</title>
</head>
<body>
<table width="600" style="font-family: Arial, Helvetica, sans-serif; font-size: 0.875rem; color: rgb(51, 51, 51);">
    <tr>
        <td style="padding: 32px 48px 0 48px;">
            <img src="cid:logo.png" alt="Infodevelopers Pvt. Ltd." width="150">
        </td>
    </tr>
    <tr>
        <td style="padding: 0 48px;">
            <div style="margin-top: 4rem; font-weight: 600; margin-bottom: 1.5rem; font-size: 1rem">
                {{ full_name }},
            </div>
        </td>
    </tr>
    <tr>
        <td style="padding: 0 48px;">
            <div style="line-height: 1.375rem;">Thanks for taking the time to apply for our position of {{ job_name }}.
                We appreciate your interest in <strong>Infodevelopers Pvt. Ltd.</strong>
            </div>
        </td>
    </tr>

    <tr>
        <td style="padding: 0 48px;">
            <div style="line-height: 1.375rem;">We're currently in the process of taking applications for this position.
                We will begin taking interviews in <strong>the next two weeks</strong>. If you are selected to continue
                to the interview process, our human resources department will be in contact with you.
            </div>
        </td>
    </tr>


    <tr>
        <td style="padding: 0 48px 20px 48px;">
            <table style="font-size: 0.75rem; margin-top: 1.5rem;padding: 1rem;width: 100%; background-color: rgb(246, 246, 246);">
                <tr>
                    <td>
                        <div style="font-weight: 600; margin-bottom: 1rem;">Summary</div>
                    </td>
                </tr>
                <tr>
                    <td style="padding-left: 0;">
                        <table>
                            <tr>
                                <td>Applicant Name</td>
                            </tr>
                            <tr>
                                <td style="font-weight: 600; padding-bottom: 1rem;">{{ full_name }}</td>
                            </tr>
                        </table>
                    </td>
                    <td style="padding-left: 0;">
                        <table>
                            <tr>
                                <td>Designation</td>
                            </tr>
                            <tr>
                                <td style="font-weight: 600; padding-bottom: 1rem;">{{ job_name }}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>Department</td>
                            </tr>
                            <tr>
                                <td style="font-weight: 600; padding-bottom: 1.5rem;">{{ job_category_name }}</td>
                            </tr>
                        </table>
                    </td>
                    <td>

                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td style="padding: 0 48px;">
            <div style="line-height: 1.375rem;">Thank you,</div>
        </td>
    </tr>

    <tr>
        <td style="padding: 0 48px;">
            <div style="line-height: 1.375rem;"><strong>HR Department,</strong></div>
        </td>
    </tr>

    <tr>
        <td style="padding: 0 48px 20px 48px;">
            <div style="line-height: 1.375rem;"><strong>InfoDevelopers Pvt. Ltd</strong></div>
        </td>
    </tr>

    <tr>
        <td style="background-color: rgb(1, 68, 140); padding: 1rem 0;">
            <table style="font-size: 0.75rem; color: rgb(255,255,255); width: 100%; text-align: center">
                <tr>
                    <td style="padding-bottom: 0.5rem">Copyright © 2020. All rights reserved</td>
                </tr>
                <tr>
                    <td>InfoDevelopers Pvt. Ltd.</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>