{% load static %}
{% load cms_tags menu_tags sekizai_tags staticfiles %}

<footer class="footer--home">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6" id="footer-contact">
                <div class="heading--secondary mb-4">Contact us</div>
                <ul class="footer--list">
                    <li class="d-flex">
                        <div class="footer--icon">
                            <svg viewbox="0 0 24 24">
                                <path
                                        d="M12 .3C7.3.3 3.5 4.1 3.5 8.8c0 5.8 7.6 14.4 7.9 14.7.3.3.8.3 1.1 0 .3-.4 7.9-8.9 7.9-14.7.1-4.7-3.7-8.5-8.4-8.5zM12 13c-2.4 0-4.3-1.9-4.3-4.3S9.6 4.5 12 4.5s4.3 1.9 4.3 4.3S14.4 13 12 13z">
                                </path>
                            </svg>
                        </div>

                        {% placeholder 'Company Location' or %}
                            <div class="footer--text"><span class="footer--text">Sanepa-2 Lalitpur</span>
                            </div> {% endplaceholder %}
                    </li>
                    <li class="d-flex">
                        <div class="footer--icon">
                            <svg viewbox="0 0 24 24">
                                <path
                                        d="M2.3 8.4c.3.2 1.2.8 2.7 1.9 1.5 1.1 2.7 1.9 3.5 2.4.1.1.3.2.6.4s.5.4.7.5c.2.1.4.3.7.4.3.2.5.3.8.4.2.1.5.1.7.1.2 0 .4 0 .7-.1.2-.1.5-.2.8-.4.3-.2.5-.3.7-.4.2-.1.4-.3.7-.5.3-.2.5-.3.6-.4.8-.6 2.9-2 6.3-4.4.7-.5 1.2-1 1.6-1.6.4-.6.7-1.3.7-2 0-.6-.2-1.1-.6-1.5-.4-.4-.9-.6-1.5-.6H2.1c-.7 0-1.2.2-1.6.7-.3.4-.5 1-.5 1.7 0 .6.2 1.2.7 1.8.5.7 1.1 1.2 1.6 1.6z">
                                </path>
                                <path
                                        d="M22.7 9.8c-2.9 2-5.2 3.5-6.7 4.6-.5.4-.9.7-1.2.9-.3.2-.7.4-1.3.6-.5.2-1 .3-1.5.3s-.9-.1-1.5-.3c-.5-.2-.9-.4-1.3-.6-.3-.2-.7-.5-1.2-.9-1.2-.8-3.4-2.4-6.6-4.6-.6-.3-1-.7-1.4-1.1v10.6c0 .6.2 1.1.6 1.5.4.4.9.6 1.5.6h19.7c.6 0 1.1-.2 1.5-.6.4-.4.6-.9.6-1.5V8.7c-.3.4-.7.8-1.2 1.1z">
                                </path>
                            </svg>
                        </div>

                        <div class="footer--text"><a href="mailto:info@infodev.com.np">info@infodev.com.np</a></div>
                    </li>
                    <li class="d-flex">
                        <div class="footer--icon">
                            <svg viewbox="0 0 24 24">
                                <path
                                        d="M24 18.9c.2 1.3-2.7 3.6-3.7 4.3-2.5 1.8-6.2-.1-8.5-1.5-3.5-2.1-6.6-5.1-8.9-8.4C1.2 10.8-1.4 6.4.7 3.6c.7-1 3.2-4 4.5-3.6 1.3.3 2.6 4 3.1 5.1 1 2.4-1 2.1-1.3 4-.4 2.1 5.6 8 7.6 7.9 1.7-.1 1.9-2.3 3.9-1.8 1.2.3 5.2 2.4 5.5 3.7 0 .4-.1-.4 0 0z">
                                </path>
                            </svg>
                        </div>

                        <div class="footer--text"><a>+977-1-5542355</a>, <a href="tel:5541757">5541757</a>, <a
                                href="tel:5546470">5546470</a>, <a href="tel:5013196">5013196</a>, <a
                                href="tel:5013166">5013166</a>, <a href="tel:5013197">5013197</a>, <a
                                href="tel:5546471">5546471</a></div>
                    </li>
                </ul>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-5 col-sm-6" id="footer-support">
                <div class="heading--secondary mb-4 mt-4 mt-sm-0">For Support</div>

                <ul class="footer--list">
                    <li class="d-flex">
                        <div class="footer--icon">
                            <svg viewbox="0 0 24 24">
                                <path
                                        d="M2.3 8.4c.3.2 1.2.8 2.7 1.9 1.5 1.1 2.7 1.9 3.5 2.4.1.1.3.2.6.4s.5.4.7.5c.2.1.4.3.7.4.3.2.5.3.8.4.2.1.5.1.7.1.2 0 .4 0 .7-.1.2-.1.5-.2.8-.4.3-.2.5-.3.7-.4.2-.1.4-.3.7-.5.3-.2.5-.3.6-.4.8-.6 2.9-2 6.3-4.4.7-.5 1.2-1 1.6-1.6.4-.6.7-1.3.7-2 0-.6-.2-1.1-.6-1.5-.4-.4-.9-.6-1.5-.6H2.1c-.7 0-1.2.2-1.6.7-.3.4-.5 1-.5 1.7 0 .6.2 1.2.7 1.8.5.7 1.1 1.2 1.6 1.6z">
                                </path>
                                <path
                                        d="M22.7 9.8c-2.9 2-5.2 3.5-6.7 4.6-.5.4-.9.7-1.2.9-.3.2-.7.4-1.3.6-.5.2-1 .3-1.5.3s-.9-.1-1.5-.3c-.5-.2-.9-.4-1.3-.6-.3-.2-.7-.5-1.2-.9-1.2-.8-3.4-2.4-6.6-4.6-.6-.3-1-.7-1.4-1.1v10.6c0 .6.2 1.1.6 1.5.4.4.9.6 1.5.6h19.7c.6 0 1.1-.2 1.5-.6.4-.4.6-.9.6-1.5V8.7c-.3.4-.7.8-1.2 1.1z">
                                </path>
                            </svg>
                        </div>

                        <div class="footer--text"><a
                                href="mailto:support@infodevelopers.com.np">support@infodevelopers.com.np</a></div>
                    </li>
                    <li class="d-flex">
                        <div class="footer--icon">
                            <svg viewbox="0 0 24 24">
                                <path
                                        d="M24 18.9c.2 1.3-2.7 3.6-3.7 4.3-2.5 1.8-6.2-.1-8.5-1.5-3.5-2.1-6.6-5.1-8.9-8.4C1.2 10.8-1.4 6.4.7 3.6c.7-1 3.2-4 4.5-3.6 1.3.3 2.6 4 3.1 5.1 1 2.4-1 2.1-1.3 4-.4 2.1 5.6 8 7.6 7.9 1.7-.1 1.9-2.3 3.9-1.8 1.2.3 5.2 2.4 5.5 3.7 0 .4-.1-.4 0 0z">
                                </path>
                            </svg>
                        </div>

                        <div class="footer--text">
                            <a href="tel:9840029557">9840029557 </a>,
                            <a href="tel:9840029558">9840029558</a>,
                            <a href="tel:9840029559">9840029559</a>,
                            <a href="tel:9840029560">9840029560</a>,
                            <a href="tel:9840029561">9840029561</a>,
                            <a href="tel:9840029562">9840029562</a>,
                            <a href="tel:9840029563">9840029563</a>,
                            <a href="tel:9840029563">9840029563</a>,
                            <a href="tel:9840029565">9840029565</a>,
                            <a href="tel:9840029556">9840029556</a>
                            <span class="footer--text">(10am to 5:30pm only)</span>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-3 col-sm-4" id="footer-logo">
                <img alt="" class="img-fluid p-lg-4 footer--logo"
                     src="{% static 'img/info-logo.png' %}"/>
            </div>
        </div>

        <div class="footer--copyright">
            <div class="d-flex  flex-column align-items-center flex-sm-row justify-content-sm-between px-sm-5">
                <div class="footer--copyright__text">Copyright &copy; <span id="date"></span> InfoDevelopers</div>

                <div class="footer--copyright__text"><a href="">Privacy</a> <a href="">Terms &amp; Conditions</a>
                </div>
            </div>
        </div>
    </div>
</footer>