{% load static %}
{% load cms_tags menu_tags sekizai_tags staticfiles %}

<div class="header--top container">
    <nav class="navbar navbar-expand-md navbar--home container align-items-center">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'img/logo-alt_white.png' %}" height="56px"
                 alt="Infodevelopers Pvt Ltd">
        </a>
        <div class="collapse navbar-collapse" id="navbarinfo">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link nav-edit" href="{% url 'home' %}">Home</span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link nav-edit" href="{% url 'about_us' %}">About us</span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link nav-edit" href="{% url 'contact_us' %}">Contact us</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-edit" href="{% url 'careers' %}">Careers</a>
                </li>
            </ul>
        </div>
        <div class="demo-3 d-block d-md-none">
            <div class="hamburger hamburger--demo-3 js-hover">
                <div class="hamburger__line hamburger__line--01">
                    <div class="hamburger__line-in hamburger__line-in--01"></div>
                </div>
                <div class="hamburger__line hamburger__line--02">
                    <div class="hamburger__line-in hamburger__line-in--02"></div>
                </div>
                <div class="hamburger__line hamburger__line--03">
                    <div class="hamburger__line-in hamburger__line-in--03"></div>
                </div>
                <div class="hamburger__line hamburger__line--cross01">
                    <div class="hamburger__line-in hamburger__line-in--cross01"></div>
                </div>
                <div class="hamburger__line hamburger__line--cross02">
                    <div class="hamburger__line-in hamburger__line-in--cross02"></div>
                </div>
            </div>
        </div>
    </nav>
</div>
{#{% include 'info/partials/mobile_menu.html' %}#}


