{% load static %}

<div class="demo-3 bg-primary">
    <svg class="shape-overlays" viewBox="0 0 100 100" preserveAspectRatio="none">
        <path class="shape-overlays__path"></path>
        <path class="shape-overlays__path"></path>
        <path class="shape-overlays__path"></path>
    </svg>
    <ul class="navigation__list">
        <li class="navigation__item">
            <a href="{% url 'home' %}" class="navigation__link">Home</a>
        </li>
        <li class="navigation__item">
            <a href="{% url 'about_us' %}" class="navigation__link">About Us</a>

        </li>
        <li class="navigation__item">
            <a href="{% url 'contact_us' %}" class="navigation__link">Contact Us</a>
        </li>
        <li class="navigation__item">
            <a href="{% url 'careers' %}" class="navigation__link">Career</a>
        </li>
    </ul>
</div>