{% load static %}
{% load widget_tweaks %}
<section class="section-contact">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-6" id="contact-img">
                <img src="{% static 'img/svg/Group 1372.svg' %}" alt=""
                     class="img-fluid img-max position-relative">

                <img src="{% static 'img/svg/request.svg' %}" alt="Client Message"
                     class="contact--request">
                <img src="{% static 'img/svg/response.svg' %}" alt="Our Response"
                     width="60px"
                     class="contact--response">
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="row">
                    <div class="col-xl-12 ">
                        <div id="contact-form">
                            <div class="heading--primary mbottom-2 mbottom-md-2 mt-4 mt-lg-0">
                                Do you want the
                                <br> best solution for your business?
                            </div>
                            <div class="text--primary font-weight-bold">
                                We'd love to listen to your story, your problems and cater to your business
                                needs
                                and objectives.
                            </div>
                            <div class="row">
                                <div class="col-xl-8">
                                    <div id="solution_alert" class="mt-5"></div>
                                    <form method="post" class="mt-3 mt-lg-5" id="solutionForm">
                                        {#                                        {% csrf_token %}#}
                                        <div class="form-group">
                                            {% render_field form.email_address class="input--1" id="email" name="email_address" placeholder="Your company email address" %}
                                            {#                                             <input type="text" class="input--1" placeholder="Your company email address">#}
                                        </div>

                                        <div class="form-group">
                                            {% render_field form.company_name class="input--1" id="email" name="company_name" placeholder="Your company name" %}
                                            {#                                            <input type="text" class="input--1" placeholder="Your company name">#}
                                        </div>

                                        <div class="form-group">
                                            {% render_field form.contact_no class="input--1" id="email" name="contact_no" placeholder="Your company contact no" %}
                                            {#                                            <input type="text" class="input--1" placeholder="Your company contact no">#}
                                        </div>
                                        <button class="btns--primary d-block w-100">Send</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

